Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-rs, website, browse-client, Han CLI, Han Rust Crates, Website, Browse Client

fix: define import.meta.env in Bun build for Sentry init
  packages/browse-client/build/build.ts
  packages/browse-client/build/dev.ts
Due: browse-client, Browse Client

fix: resolve Railway deployment failures for han-server
  packages/han-rs/crates/han-db/src/migration/m20260215_000001_initial.rs
  packages/han-rs/crates/han-server/src/main.rs
Due: han-rs, Han Rust Crates

fix marketplace
  .claude-plugin/marketplace.json
  .claude/settings.json
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/helpers/index.ts
  packages/browse-client/src/components/organisms/SessionListItem.tsx
  packages/browse-client/src/components/organisms/__generated__/SessionListItemSubscription.graphql.ts
  packages/browse-client/src/components/organisms/__generated__/SessionListItem_session.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/LineChangesChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/SubagentUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/TokenUsageCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/ToolUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionListPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentPaginationQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentSubscription.graphql.ts
  packages/han-rs/crates/han-api/src/node.rs
  packages/han-rs/crates/han-api/src/query.rs
  packages/han-rs/crates/han-api/src/subscription.rs
  packages/han-rs/crates/han-api/src/types/messages/mod.rs
  packages/han-rs/crates/han-api/src/types/sessions/mod.rs
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-coordinator/src/server.rs
  packages/han/lib/commands/coordinator/daemon.ts
Due: han-cli, han-rs, browse-client, Han CLI, Han Rust Crates, Browse Client

feat: structured JSON output for hook run when invoked directly by Claude Code
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/commands/hook/run.ts
  packages/han/lib/grpc/hook-executor.ts
  packages/han/lib/hook-runner.ts
Due: han-cli, Han CLI

fix(browse): connection overlay flash, text warnings, 404 page, and session sorting
  packages/browse-client/src/App.tsx
  packages/browse-client/src/components/organisms/ConnectionGate.tsx
  packages/browse-client/src/components/pages/NotFoundPage/index.tsx
  packages/browse-client/src/components/pages/PluginListPage/index.tsx
  packages/browse-client/src/components/pages/SessionListPage/SessionsContent.tsx
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionListPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentPaginationQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentSubscription.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContent_query.graphql.ts
  packages/browse-client/src/hooks/useCoordinatorHealth.ts
Due: browse-client, Browse Client

fix: add han-graphql-derive crate to Docker build
  packages/han-rs/crates/han-server/Dockerfile
Due: han-rs, Han Rust Crates

fix: guard DB-dependent startup calls to prevent SeaORM Disconnected panic
  packages/han-rs/crates/han-server/src/main.rs
Due: han-rs, Han Rust Crates

fix: correct indentation in _nav.json for Antigravity entry
  website/content/docs/_nav.json
Due: website, Website

docs: improve develop skill structure + add skill-review-and-optimize CI
  .github/workflows/skill-apply-optimize.yml
  .github/workflows/skill-review.yml
  plugins/core/skills/develop/SKILL.md
Due: none

fix: skip marketplace-cache and grpc-client tests in full suite
  packages/han/test/grpc-client.test.ts
  packages/han/test/marketplace-cache.test.ts
Due: han-cli, Han CLI

fix: handle gRPC client mock pollution in memory-5-layers test
  packages/han/test/memory-5-layers.test.ts
Due: han-cli, Han CLI

fix: resolve han-coordinator binary in npm platform package
  packages/han/lib/services/coordinator-service.ts
Due: han-cli, Han CLI

fix(test): restore real grpc/client module after each test file
  packages/han/lib/services/coordinator-service.ts
  packages/han/test/coordinator-service-spawn.test.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

fix(test): per-file restoration of real grpc/client mock
  packages/han/test/coordinator-service-behavioral.test.ts
  packages/han/test/coordinator-service-spawn.test.ts
  packages/han/test/data-access-behavioral.test.ts
  packages/han/test/hook-executor-behavioral.test.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

fix(test): make transcript search tests resilient to absent coordinator
  packages/han/test/memory-5-layers.test.ts
Due: han-cli, Han CLI

fix(test): defensive grpc/client mock restore in grpc-client.test.ts
  packages/han/test/grpc-client.test.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

fix(security): close shell injection holes in claude.yml workflow
  .github/workflows/claude.yml
Due: none

fix(install): correct Windows asset name and .exe suffix
  website/public/install.sh
Due: website, Website

fix: resolve han-coordinator binary in npm platform package (#92)
  packages/han/lib/services/coordinator-service.ts
  packages/han/test/coordinator-service-behavioral.test.ts
  packages/han/test/coordinator-service-spawn.test.ts
  packages/han/test/data-access-behavioral.test.ts
  packages/han/test/grpc-client.test.ts
  packages/han/test/hook-executor-behavioral.test.ts
  packages/han/test/memory-5-layers.test.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

fix(security): close shell injection holes in claude.yml workflow (#93)
  .github/workflows/claude.yml
Due: none

feat(angular): modernize Angular skills to use current patterns (#95)
  .github/ISSUE_TEMPLATE/feature_request.md
  plugins/frameworks/angular/skills/angular-dependency-injection/SKILL.md
  plugins/frameworks/angular/skills/angular-rxjs-patterns/SKILL.md
  plugins/frameworks/angular/skills/angular-signals/SKILL.md
Due: none

feat(antigravity): add Han bridge for Google Antigravity IDE via MCP
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/antigravity/.claude-plugin/plugin.json
  plugins/bridges/antigravity/README.md
  plugins/bridges/antigravity/han-plugin.yml
  plugins/bridges/antigravity/package.json
  plugins/bridges/antigravity/src/cache.ts
  plugins/bridges/antigravity/src/context.ts
  plugins/bridges/antigravity/src/disciplines.ts
  plugins/bridges/antigravity/src/discovery.ts
  plugins/bridges/antigravity/src/events.ts
  plugins/bridges/antigravity/src/executor.ts
  plugins/bridges/antigravity/src/formatter.ts
  plugins/bridges/antigravity/src/index.ts
  plugins/bridges/antigravity/src/matcher.ts
  plugins/bridges/antigravity/src/skills.ts
  plugins/bridges/antigravity/src/sync.ts
  plugins/bridges/antigravity/src/types.ts
  website/content/docs/_nav.json
  website/content/docs/installation/antigravity.md
  website/content/docs/installation/index.md
Due: han-cli, website, Han CLI, Website

Update SKILL.md
  plugins/languages/kotlin/skills/kotlin-coroutines/SKILL.md
Due: none

Updated Kotlin coroutines skill: added Quarkus and new volatile-related boundary
  plugins/languages/kotlin/skills/kotlin-coroutines/SKILL.md
Due: none

fix windows binary
  packages/han/lib/main.ts
Due: han-cli, Han CLI

fix(bridge-opencode): discover plugins and hooks from current settings formats
  plugins/bridges/opencode/dist/discovery.js
  plugins/bridges/opencode/src/discovery.ts
Due: none

fix(bridge-opencode): discover plugins and hooks from current settings formats (#99)
  plugins/bridges/opencode/dist/discovery.js
  plugins/bridges/opencode/src/discovery.ts
Due: none

feat(bridge-codex): rewrite bridge for Codex CLI lifecycle hooks
  plugins/bridges/codex/CHANGELOG.md
  plugins/bridges/codex/README.md
  plugins/bridges/codex/han-plugin.yml
  plugins/bridges/codex/package.json
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/codex/src/formatter.ts
  plugins/bridges/codex/src/index.ts
  plugins/bridges/codex/src/types.ts
Due: none

feat(bridge-kiro): block stop on validation failure, fix discovery
  plugins/bridges/kiro/CHANGELOG.md
  plugins/bridges/kiro/README.md
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/kiro/src/formatter.ts
  plugins/bridges/kiro/src/index.ts
  plugins/bridges/kiro/src/types.ts
Due: none

fix(bridge-opencode): drop dead stop hook, add PreCompact support
  plugins/bridges/opencode/dist/index.d.ts
  plugins/bridges/opencode/dist/index.js
  plugins/bridges/opencode/dist/types.d.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/types.ts
Due: none

feat(bridge-gemini): add SessionEnd, deny-based AfterTool feedback
  plugins/bridges/gemini-cli/CHANGELOG.md
  plugins/bridges/gemini-cli/README.md
  plugins/bridges/gemini-cli/gemini-hooks.json
  plugins/bridges/gemini-cli/src/bridge.ts
  plugins/bridges/gemini-cli/src/discovery.ts
  plugins/bridges/gemini-cli/src/formatter.ts
  plugins/bridges/gemini-cli/src/types.ts
Due: none

feat(cli): support all Claude Code hook events through 2.1.215
  packages/han/bun.lock
  packages/han/lib/commands/plugin/generate-hooks.ts
  packages/han/lib/hooks/hook-config.ts
  packages/han/package.json
Due: han-cli, Han CLI

fix(plugins): regenerate stale generated hooks.json
  plugins/languages/crystal/hooks/hooks.json
  plugins/languages/elixir/han-plugin.yml
  plugins/languages/erlang/hooks/hooks.json
  plugins/languages/gleam/hooks/hooks.json
  plugins/languages/kotlin/hooks/hooks.json
  plugins/languages/rust/hooks/hooks.json
  plugins/languages/scala/hooks/hooks.json
  plugins/languages/swift/hooks/hooks.json
  plugins/tools/yarn/hooks/hooks.json
  plugins/validation/ameba/hooks/hooks.json
  plugins/validation/markdown/hooks/hooks.json
  plugins/validation/pylint/hooks/hooks.json
Due: none

docs: refresh hook reference and harness installation guides
  website/content/docs/_nav.json
  website/content/docs/installation/codex.md
  website/content/docs/installation/gemini-cli.md
  website/content/docs/installation/index.md
  website/content/docs/plugin-development/hooks.md
Due: website, Website

fix(bridge-antigravity): discover plugins from current settings formats
  plugins/bridges/antigravity/CHANGELOG.md
  plugins/bridges/antigravity/src/discovery.ts
Due: none

style(docs): format _nav.json with biome
  website/content/docs/_nav.json
Due: website, Website

fix(bridges): locate marketplace in installed Claude Code marketplaces
  plugins/bridges/antigravity/src/discovery.ts
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/gemini-cli/src/discovery.ts
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/opencode/dist/discovery.js
  plugins/bridges/opencode/src/discovery.ts
Due: none

feat(bridge-opencode): TUI plugin, validation status channel, npm publishing
  .github/workflows/publish-bridge-plugins.yml
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/dist/index.d.ts
  plugins/bridges/opencode/dist/index.js
  plugins/bridges/opencode/dist/status.d.ts
  plugins/bridges/opencode/dist/status.js
  plugins/bridges/opencode/dist/tui/index.d.ts
  plugins/bridges/opencode/dist/tui/index.js
  plugins/bridges/opencode/package-lock.json
  plugins/bridges/opencode/package.json
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/status.ts
  plugins/bridges/opencode/src/tui/index.tsx
  plugins/bridges/opencode/tsconfig.tui.json
Due: none

feat(bridge-opencode): TUI plugin, validation status channel, npm publishing (#101)
  .github/workflows/publish-bridge-plugins.yml
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/dist/index.d.ts
  plugins/bridges/opencode/dist/index.js
  plugins/bridges/opencode/dist/status.d.ts
  plugins/bridges/opencode/dist/status.js
  plugins/bridges/opencode/dist/tui/index.d.ts
  plugins/bridges/opencode/dist/tui/index.js
  plugins/bridges/opencode/package-lock.json
  plugins/bridges/opencode/package.json
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/status.ts
  plugins/bridges/opencode/src/tui/index.tsx
  plugins/bridges/opencode/tsconfig.tui.json
Due: none

Path conditions:
  han-cli: any of: packages/han/
  han-rs: any of: packages/han-rs/
  website: any of: website/
  browse-client: any of: packages/browse-client/
  Han CLI: any of: packages/han/**
  Han Rust Crates: any of: packages/han-rs/**
  Website: any of: website/**
  Browse Client: any of: packages/browse-client/**
