Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

feat: move Han data directory from ~/.claude/han to ~/.han
  .claude/rules/metrics/enforcement.md
  packages/han-native/src/coordinator.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han/lib/commands/browse/watch.ts
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/commands/mcp/dal.ts
  packages/han/lib/config/claude-settings.ts
  packages/han/lib/db/index.ts
  packages/han/lib/events/logger.ts
  packages/han/lib/memory/indexer.ts
  packages/han/lib/memory/paths.ts
  packages/han/lib/memory/vector-store.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

feat: auto-migrate ~/.claude/han to ~/.han on first launch
  packages/han-native/src/coordinator.rs
  packages/han-native/src/db.rs
  packages/han/lib/config/claude-settings.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

fix(git-storytelling): route Stop hooks through han hook run for caching and session-scoped files
  plugins/patterns/git-storytelling/han-plugin.yml
  plugins/patterns/git-storytelling/hooks/hooks.json
Due: none

fix: restore getClaudeConfigDir import needed for transcript paths
  packages/han/lib/db/index.ts
Due: han-cli, Han CLI

task: add railway mcp
  .mcp.json
Due: none

fix: migrate deprecated plugin names in YAML config files
  packages/browse-client/han.yml
  packages/han-native/han.yml
  packages/han/han-config.yml
  packages/han/lib/migrate.ts
Due: han-cli, han-native, browse-client, Han CLI, Han Native (Rust), Browse Client

fix: skip opening browser in test environments during han browse
  packages/han/lib/commands/browse/index.ts
Due: han-cli, Han CLI

chore: sync version bump and remove unused workflow-monitor agent
  packages/han/package.json
  plugins/core/agents/workflow-monitor.md
Due: han-cli, Han CLI

feat: auto-regenerate hooks.json when han-plugin.yml is edited
  plugins/disciplines/claude-plugin-development/han-plugin.yml
  plugins/disciplines/claude-plugin-development/hooks/hooks.json
Due: none

fix: resolve CI failures from data directory relocation
  packages/han-native/src/db.rs
  packages/han/lib/config/claude-settings.ts
  packages/han/test/indexer.test.ts
  packages/han/test/setup.ts
  plugins/bridges/opencode/README.md
  website/content/docs/installation/opencode.md
Due: han-cli, han-native, website, Han CLI, Han Native (Rust), Website

refactor: remove file_filter, split test hooks into Stop + PostToolUse
  packages/han/lib/commands/plugin/generate-hooks.ts
  packages/han/lib/config/config-validator.ts
  plugins/disciplines/claude-plugin-development/han-plugin.yml
  plugins/languages/elixir/han-plugin.yml
  plugins/languages/elixir/hooks/hooks.json
  plugins/languages/go/han-plugin.yml
  plugins/languages/typescript/han-plugin.yml
  plugins/tools/jest/han-plugin.yml
  plugins/tools/jest/hooks/hooks.json
  plugins/tools/mocha/han-plugin.yml
  plugins/tools/mocha/hooks/hooks.json
  plugins/tools/playwright/han-plugin.yml
  plugins/tools/playwright/hooks/hooks.json
  plugins/tools/pytest/han-plugin.yml
  plugins/tools/pytest/hooks/hooks.json
  plugins/tools/rspec/han-plugin.yml
  plugins/tools/rspec/hooks/hooks.json
  plugins/tools/vitest/han-plugin.yml
  plugins/tools/vitest/hooks/hooks.json
  plugins/validation/biome/han-plugin.yml
  plugins/validation/credo/han-plugin.yml
  plugins/validation/eslint/han-plugin.yml
  plugins/validation/markdown/han-plugin.yml
  plugins/validation/prettier/han-plugin.yml
  plugins/validation/pylint/han-plugin.yml
  plugins/validation/rubocop/han-plugin.yml
  plugins/validation/shellcheck/han-plugin.yml
  plugins/validation/shfmt/han-plugin.yml
Due: han-cli, Han CLI

chore: audit plugin hooks for missing PostToolUse patterns
  .claude/settings.json
  packages/han/lib/commands/aliases.ts
  packages/han/lib/commands/hook/run.ts
  packages/han/lib/config/index.ts
  packages/han/lib/hook-runner.ts
  packages/han/lib/install/index.ts
  packages/han/lib/install/install-interactive.tsx
  packages/han/lib/install/install-progress.tsx
  packages/han/lib/install/install.ts
  packages/han/lib/install/uninstall.ts
  packages/han/lib/validate.ts
  packages/han/lib/validation/gaps.ts
  packages/han/lib/validation/index.ts
  packages/han/lib/validation/marker-detection.ts
  packages/han/test/hook-run-async.test.ts
  packages/han/test/install-interactive-helpers.test.ts
  packages/han/test/marker-detection.test.ts
  packages/han/test/plugin-hooks-json.test.ts
  packages/han/test/uninstall.test.ts
  packages/han/test/validate-full.test.ts
Due: han-cli, Han CLI

feat: add PostToolUse hooks to 19 plugins for incremental validation
  plugins/frameworks/effect/hooks/hooks.json
  plugins/frameworks/gluestack/hooks/hooks.json
  plugins/frameworks/relay/hooks/hooks.json
  plugins/languages/crystal/hooks/hooks.json
  plugins/languages/gleam/hooks/hooks.json
  plugins/languages/nim/hooks/hooks.json
  plugins/languages/ruby/hooks/hooks.json
  plugins/languages/rust/hooks/hooks.json
  plugins/specialized/han-plugins/hooks/hooks.json
  plugins/tools/ansible/hooks/hooks.json
  plugins/tools/cocoapods/hooks/hooks.json
  plugins/tools/gitlab-ci/hooks/hooks.json
  plugins/tools/helm/hooks/hooks.json
  plugins/tools/syncpack/hooks/hooks.json
  plugins/tools/terraform/hooks/hooks.json
  plugins/validation/ameba/hooks/hooks.json
  plugins/validation/checkstyle/hooks/hooks.json
  plugins/validation/clippy/hooks/hooks.json
  plugins/validation/dialyzer/hooks/hooks.json
Due: none

fix: use output size to decide subagent vs direct fix in hook failures
  packages/han/lib/validate.ts
  packages/han/lib/validation/validate.ts
Due: han-cli, Han CLI

docs: document validate.ts duplication and dead code
  packages/han/-la
  packages/han/2
  packages/han/ls
  packages/han/test/hook-run-async.test.ts
  packages/han/test/orchestrate-question-detection.test.ts
  packages/han/test/plugin-hooks-json.test.ts
Due: han-cli, Han CLI

chore: remove .markdownlint-cli2.jsonc
  .markdownlint-cli2.jsonc
Due: none

fix: inline small hook output instead of writing to file
  packages/han/lib/validate.ts
  packages/han/lib/validation/validate.ts
Due: han-cli, Han CLI

style: reformat package.json indentation
  packages/han/package.json
Due: han-cli, Han CLI

feat: add dashboard analytics enhancements with effectiveness scoring, subagent tracking, and cost analysis
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CompactionHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/HookHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SubagentUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/ToolUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/schema.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: resolve biome lint warnings in dashboard analytics
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: address PR #63 review comments for dashboard analytics
  packages/han/lib/graphql/schema.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, Han CLI

feat: add subscription vs API credits comparison to cost analysis
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

feat: add weekly cost trend and per-session cost breakdown
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

test: add unit tests for dashboard analytics helpers to fix codecov
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/test/dashboard-analytics.test.ts
Due: han-cli, Han CLI

Add OpenCode bridge plugin for Han hook ecosystem (#61)
  .claude-plugin/marketplace.json
  .claude/rules/metrics/enforcement.md
  packages/han-native/src/coordinator.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han/lib/commands/browse/watch.ts
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/commands/mcp/dal.ts
  packages/han/lib/config/claude-settings.ts
  packages/han/lib/db/index.ts
  packages/han/lib/events/logger.ts
  packages/han/lib/memory/indexer.ts
  packages/han/lib/memory/paths.ts
  packages/han/lib/memory/vector-store.ts
  packages/han/lib/plugin-aliases.ts
  packages/han/test/indexer.test.ts
  packages/han/test/setup.ts
  plugins/bridges/opencode/.claude-plugin/plugin.json
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/han-plugin.yml
  plugins/bridges/opencode/package.json
  plugins/bridges/opencode/src/cache.ts
  plugins/bridges/opencode/src/context.ts
  plugins/bridges/opencode/src/disciplines.ts
  plugins/bridges/opencode/src/discovery.ts
  plugins/bridges/opencode/src/events.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/src/formatter.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/matcher.ts
  plugins/bridges/opencode/src/skills.ts
  plugins/bridges/opencode/src/types.ts
  plugins/bridges/opencode/tsconfig.json
  website/content/blog/han-meets-opencode.md
  website/content/docs/_nav.json
  website/content/docs/installation/index.md
  website/content/docs/installation/opencode.md
Due: han-cli, han-native, website, Han CLI, Han Native (Rust), Website

feat: add dashboard analytics enhancements with effectiveness scoring, subagent tracking, and cost analysis (#63)
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CompactionHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/HookHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SubagentUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/ToolUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/schema.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/test/dashboard-analytics.test.ts
Due: han-cli, browse-client, Han CLI, Browse Client

refactor: remove fail-fast feature from hook system
  blueprints/hook-system.md
  blueprints/mcp-server.md
  packages/han/lib/commands/aliases.ts
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/commands/hook/run.ts
  packages/han/lib/config/han-settings.ts
  packages/han/lib/config/index.ts
  packages/han/lib/hook-lock.ts
  packages/han/lib/hook-runner.ts
  packages/han/lib/hook-test.ts
  packages/han/lib/hooks/hook-lock.ts
  packages/han/lib/hooks/hook-test.ts
  packages/han/lib/hooks/index.ts
  packages/han/schemas/han-config-override.schema.json
  packages/han/test/dispatch-execution.test.ts
  packages/han/test/dispatch-functional.test.ts
  packages/han/test/dispatch-integration.test.ts
  packages/han/test/dispatch-unit.test.ts
  packages/han/test/han-settings.test.ts
  packages/han/test/han.test.ts
  packages/han/test/validate.test.ts
  website/app/components/HookCommandWithDetails.tsx
  website/content/docs/cli/hooks.md
  website/content/docs/configuration/index.md
  website/content/docs/features/hooks.md
Due: han-cli, website, Han CLI, Website

refactor: remove orchestrate command and centralized hook orchestration
  .ai-dlc/third-party-plugins/unit-02-hook-integration.md
  .claude/rules/hooks.md
  .claude/rules/hooks/session-id.md
  .claude/rules/hooks/subagent-prompt.md
  blueprints/hook-system.md
  packages/han/lib/commands/aliases.ts
  packages/han/lib/commands/hook/context.ts
  packages/han/lib/commands/hook/explain.tsx
  packages/han/lib/commands/hook/index.ts
  packages/han/lib/commands/hook/inject-subagent-context.ts
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/commands/hook/wait.ts
  packages/han/lib/db/index.ts
  packages/han/lib/hook-explain-ui.tsx
  packages/han/lib/hook-runner.ts
  packages/han/lib/hooks/plugin-discovery.ts
  packages/han/test/deferred-hooks.test.ts
  packages/han/test/orchestrate-question-detection.test.ts
  plugins/core/hooks/pre-commit-validation.sh
  website/content/blog/han-learns.md
  website/content/docs/plugin-development/hooks.md
Due: han-cli, website, Han CLI, Website

fix(ci): remove validate command tests from aliases.test.ts
  packages/han/test/aliases.test.ts
Due: han-cli, Han CLI

fix: remove failure signaling tests from hook-lock.test.ts
  packages/han/test/hook-lock.test.ts
Due: han-cli, Han CLI

fix(ci): clean up dead code from orchestrate removal
  packages/han/lib/commands/hook/inject-subagent-context.ts
  plugins/core/hooks/pre-commit-validation.sh
Due: han-cli, Han CLI

ci: retrigger CI after rebase onto main
  packages/han/lib/commands/hook/inject-subagent-context.ts
Due: han-cli, Han CLI

fix: resolve biome lint warnings in opencode bridge plugin
  packages/han-native/index.d.ts
  packages/han/package.json
  plugins/bridges/opencode/src/context.ts
  plugins/bridges/opencode/src/disciplines.ts
  plugins/bridges/opencode/src/discovery.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/src/index.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

style: apply biome auto-formatting to recently added files
  packages/browse-client/src/components/pages/DashboardPage/CompactionHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/HookHealthCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/SubagentUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/ToolUsageChart.tsx
  packages/han/lib/commands/mcp/dal.ts
  packages/han/lib/config/claude-settings.ts
  packages/han/lib/db/index.ts
  packages/han/lib/graphql/schema.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/lib/memory/paths.ts
  packages/han/test/dashboard-analytics.test.ts
  plugins/bridges/opencode/src/cache.ts
  plugins/bridges/opencode/src/events.ts
  plugins/bridges/opencode/src/formatter.ts
  plugins/bridges/opencode/src/matcher.ts
  plugins/bridges/opencode/src/skills.ts
  plugins/bridges/opencode/src/types.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: coordinator crash on metrics query and remove coordinatorPort from dashboard URL
  packages/han-native/src/crud.rs
  packages/han/lib/commands/browse/index.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

ci: consolidate han CLI coverage into validate-han workflow
  .github/workflows/coverage.yml
  .github/workflows/validate-han.yml
Due: none

fix: resolve typecheck errors in opencode bridge plugin
  plugins/bridges/opencode/src/discovery.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/tsconfig.json
Due: none

Path conditions:
  han-cli: any of: packages/han/
  han-native: any of: packages/han-native/
  website: any of: website/
  browse-client: any of: packages/browse-client/
  Han CLI: any of: packages/han/**
  Han Native (Rust): any of: packages/han-native/**
  Website: any of: website/**
  Browse Client: any of: packages/browse-client/**
