Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      han-native:
        flags:
          - han-native
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-native:
    paths:
      - packages/han-native/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

# Test Analytics configuration
test_analytics:
  enabled: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

# Component management for monorepo
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-native
      name: Han Native (Rust)
      paths:
        - packages/han-native/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

refactor: consolidate create-* skills into single create-plugin
  .claude/commands/create-do.md
  .claude/commands/create-hashi.md
  .claude/commands/create-jutsu.md
  .claude/commands/create-plugin.md
Due: none

fix(lint): remove unused code from plugin install refactor
  packages/han/lib/commands/plugin/install.ts
  packages/han/lib/plugin-install.ts
Due: han-cli, Han CLI

fix(plugin-install): prefer Claude CLI for plugin installation
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/plugin-install.ts
  packages/han/test/han.test.ts
  packages/han/test/plugin-install-full.test.ts
  packages/han/test/shared.test.ts
Due: han-cli, Han CLI

style: apply consistent formatting to han CLI modules
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/health.ts
  packages/han/lib/commands/coordinator/server.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/commands/hook/explain.tsx
  packages/han/lib/commands/hook/list.ts
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/commands/plugin/install.ts
  packages/han/lib/config/han-settings.ts
  packages/han/lib/config/port-allocation.ts
  packages/han/lib/hooks/hook-config.ts
  packages/han/lib/hooks/hook-test.ts
  packages/han/lib/hooks/index.ts
  packages/han/lib/hooks/plugin-discovery.ts
  packages/han/lib/install.ts
  packages/han/lib/plugins/index.ts
  packages/han/lib/scope-selector.tsx
  packages/han/lib/shared.ts
  packages/han/lib/shared/shared.ts
Due: han-cli, Han CLI

chore(browse-client): update config for port/URL settings
  packages/browse-client/src/config/port.ts
  packages/browse-client/src/config/urls.ts
Due: browse-client, Browse Client

fix(han-native): add source_config_dir to test struct initializers
  packages/han-native/src/crud.rs
Due: han-native, Han Native (Rust)

update settings
  .claude/settings.json
Due: none

fix marketplace
  .claude-plugin/marketplace.json
  packages/han-native/index.d.ts
Due: han-native, Han Native (Rust)

feat(hooks): add async hook queue for PostToolUse non-blocking validation
  languages/typescript/han-plugin.yml
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/crud.rs
  packages/han-native/src/lib.rs
  packages/han-native/src/schema.rs
  packages/han-native/src/schema.sql
  packages/han/bun.lock
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/db/index.ts
  packages/han/lib/hooks/hook-config.ts
  packages/han/package.json
  tools/jest/han-plugin.yml
  tools/vitest/han-plugin.yml
  validation/biome/han-plugin.yml
  validation/eslint/han-plugin.yml
Due: han-cli, han-native, Han CLI, Han Native (Rust)

feat(website): improve activity indicator timing and initial state
  website/app/components/ActivityIndicator.tsx
Due: website, Website

style: format ActivityIndicator.tsx
  website/app/components/ActivityIndicator.tsx
Due: website, Website

fix(test): update plugin install test for new naming convention
  packages/han/test/han.test.ts
Due: han-cli, Han CLI

feat(website): add coordinator activity indicator to header
  website/app/components/ActivityIndicator.tsx
  website/app/components/Header.tsx
Due: website, Website

fix(marketplace): remove deprecated naming prefixes and fix paths
  .claude-plugin/marketplace.json
  website/app/components/ActivityIndicator.tsx
  website/app/components/Header.tsx
Due: website, Website

feat(plugin-install): reject deprecated naming and use short names
  packages/han/lib/plugin-aliases.ts
  packages/han/lib/plugin-install.ts
  packages/han/test/han.test.ts
Due: han-cli, Han CLI

feat(graphql): add wildcard support to sessionMessageAdded subscription
  packages/han/lib/graphql/schema.ts
  website/app/components/ActivityIndicator.tsx
Due: han-cli, website, Han CLI, Website

style: format plugin-aliases.ts
  packages/han/lib/plugin-aliases.ts
Due: han-cli, Han CLI

fix(hooks): resolve CLAUDE_PLUGIN_ROOT for subdirectory workspaces
  packages/han/lib/hooks/plugin-discovery.ts
  packages/han/test/plugin-install-full.test.ts
Due: han-cli, Han CLI

fix(test): update plugin tests to use new short naming
  packages/han/test/han.test.ts
  packages/han/test/plugin-install-full.test.ts
Due: han-cli, Han CLI

feat(hooks): add async hook queue for PostToolUse non-blocking validation
  website/app/components/Header.tsx
Due: website, Website

fix: format Rust code and fix markdown lint
  packages/han-native/src/crud.rs
  website/content/blog/ai-dlc-2026-paper.md
Due: han-native, website, Han Native (Rust), Website

fix: format schema.rs
  packages/han-native/src/schema.rs
Due: han-native, Han Native (Rust)

fix: remove unused AsyncHookQueue structs from schema.rs
  packages/han-native/src/schema.rs
Due: han-native, Han Native (Rust)

fix: remove unused async-hook-executor and async-hook-client
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han/lib/services/async-hook-client.ts
  packages/han/lib/services/async-hook-executor.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

fix: pass --version through to hanBinary when configured
  packages/han/lib/main.ts
  packages/han/lib/shared.ts
Due: han-cli, Han CLI

Add context7.json with URL and public key
  context7.json
Due: none

fix: filter deleted files from HAN_FILES in hooks
  .claude/settings.json
  packages/han/lib/commands/hook/orchestrate.ts
Due: han-cli, Han CLI

refactor: migrate inline MCP defs to .mcp.json files
  plugins/core/.mcp.json
  plugins/core/han-plugin.yml
  plugins/frameworks/gluestack/.mcp.json
  plugins/frameworks/gluestack/han-plugin.yml
  plugins/services/github/.mcp.json
  plugins/tools/blueprints/han-plugin.yml
  plugins/tools/playwright/han-plugin.yml
Due: none

feat: add React Flow plugin for node-based editors (#55)
  .claude-plugin/marketplace.json
  frameworks/reactflow/.claude-plugin/plugin.json
  frameworks/reactflow/skills/reactflow-custom-nodes/SKILL.md
  frameworks/reactflow/skills/reactflow-fundamentals/SKILL.md
Due: none

feat: add Svelte Flow plugin for node-based editors
  .claude-plugin/marketplace.json
  frameworks/svelteflow/.claude-plugin/plugin.json
  frameworks/svelteflow/skills/svelteflow-custom-nodes/SKILL.md
  frameworks/svelteflow/skills/svelteflow-fundamentals/SKILL.md
Due: none

fix(sentiment): improve ALL CAPS detection accuracy
  packages/han-native/src/sentiment.rs
Due: han-native, Han Native (Rust)

fix(sentiment): improve ALL CAPS detection accuracy (#59)
  packages/han-native/src/sentiment.rs
Due: han-native, Han Native (Rust)

feat: add Svelte Flow plugin for node-based editors (#56)
  .claude-plugin/marketplace.json
  frameworks/svelteflow/.claude-plugin/plugin.json
  frameworks/svelteflow/skills/svelteflow-custom-nodes/SKILL.md
  frameworks/svelteflow/skills/svelteflow-fundamentals/SKILL.md
Due: none

fix(han-native): remove duplicate napi exports causing biome errors
  .github/workflows/validate-han-native.yml
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/crud.rs
Due: han-native, Han Native (Rust)
