Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      han-native:
        flags:
          - han-native
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-native:
    paths:
      - packages/han-native/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

# Test Analytics configuration
test_analytics:
  enabled: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

# Component management for monorepo
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-native
      name: Han Native (Rust)
      paths:
        - packages/han-native/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

fix: use long-form padding properties in ConnectionOverlay for RNW
  packages/browse-client/src/components/organisms/ConnectionOverlay.tsx
Due: browse-client, Browse Client

feat: add connection gate with blurred mock dashboard on disconnect
  packages/browse-client/src/components/organisms/ConnectionGate.tsx
  packages/browse-client/src/components/organisms/ConnectionOverlay.tsx
  packages/browse-client/src/components/organisms/MockDashboard.tsx
  packages/browse-client/src/components/organisms/index.ts
  packages/browse-client/src/hooks/useCoordinatorHealth.ts
  packages/browse-client/src/main.tsx
  packages/browse-client/src/relay/environment.ts
  packages/browse-client/src/relay/index.ts
Due: browse-client, Browse Client

fix: match mock dashboard chart colors to real chart components
  packages/browse-client/src/components/organisms/MockDashboard.tsx
Due: browse-client, Browse Client

refactor: fix TodoWrite references in core skills pending merge
  plugins/core/skills/architect/SKILL.md
  plugins/core/skills/code-review/SKILL.md
  plugins/core/skills/code-reviewer/SKILL.md
  plugins/core/skills/debug/SKILL.md
  plugins/core/skills/document/SKILL.md
  plugins/core/skills/optimize/SKILL.md
  plugins/core/skills/plan/SKILL.md
  plugins/core/skills/refactor/SKILL.md
Due: none

refactor: merge 8 duplicate core skill pairs into short-named skills
  plugins/core/skills/architect/SKILL.md
  plugins/core/skills/architecture-design/SKILL.md
  plugins/core/skills/code-review/SKILL.md
  plugins/core/skills/code-reviewer/SKILL.md
  plugins/core/skills/debug/SKILL.md
  plugins/core/skills/debugging/SKILL.md
  plugins/core/skills/document/SKILL.md
  plugins/core/skills/documentation/SKILL.md
  plugins/core/skills/explain/SKILL.md
  plugins/core/skills/explainer/SKILL.md
  plugins/core/skills/optimize/SKILL.md
  plugins/core/skills/performance-optimization/SKILL.md
  plugins/core/skills/plan/SKILL.md
  plugins/core/skills/refactor/SKILL.md
  plugins/core/skills/refactoring/SKILL.md
  plugins/core/skills/technical-planning/SKILL.md
Due: none

fix: remove remaining bushido self-references in fix and test skills
  plugins/core/skills/fix/SKILL.md
  plugins/core/skills/test/SKILL.md
Due: none

fix: remove remaining jutsu-/hashi-/do- prefix references across plugins
  plugins/disciplines/backend/agents/api-designer.md
  plugins/disciplines/backend/agents/backend-architect.md
  plugins/disciplines/frontend/agents/presentation-engineer.md
  plugins/disciplines/quality/agents/quality-strategist.md
  plugins/patterns/atomic-design/han-plugin.yml
  plugins/patterns/monorepo/han-plugin.yml
  plugins/services/agent-sop/han-plugin.yml
  plugins/services/playwright-mcp/han-plugin.yml
  plugins/services/reddit/han-plugin.yml
  plugins/specialized/android/README.md
  plugins/specialized/ios/README.md
  plugins/specialized/runbooks/README.md
  plugins/specialized/scratch/han-plugin.yml
  plugins/tools/graphql-inspector/han-plugin.yml
  plugins/tools/playwright/han-plugin.yml
  plugins/tools/syncpack/han-plugin.yml
Due: none

fix: replace remaining "Jutsu plugin" reference with "framework plugin"
  plugins/disciplines/backend/agents/api-designer.md
Due: none

fix: update MCP tool names from hashi- to current plugin names
  plugins/services/agent-sop/han-plugin.yml
  plugins/services/clickup/han-plugin.yml
  plugins/services/figma/han-plugin.yml
  plugins/services/gitlab/han-plugin.yml
  plugins/services/jira/han-plugin.yml
  plugins/services/linear/han-plugin.yml
  plugins/services/playwright-mcp/agents/test-generator/AGENT.md
  plugins/services/playwright-mcp/agents/ui-debugger/AGENT.md
  plugins/services/sentry/han-plugin.yml
Due: none

fix: update plugin naming convention in plugin-developer agent
  plugins/disciplines/claude-plugin-development/agents/plugin-developer.md
Due: none

refactor: fix skill invocation controls and MCP tool names
  plugins/core/skills/architect/SKILL.md
  plugins/core/skills/baseline-restorer/SKILL.md
  plugins/core/skills/boy-scout-rule/SKILL.md
  plugins/core/skills/code-review/SKILL.md
  plugins/core/skills/debug/SKILL.md
  plugins/core/skills/develop/SKILL.md
  plugins/core/skills/document/SKILL.md
  plugins/core/skills/explain/SKILL.md
  plugins/core/skills/fix/SKILL.md
  plugins/core/skills/legacy-code-safety/SKILL.md
  plugins/core/skills/optimize/SKILL.md
  plugins/core/skills/orthogonality-principle/SKILL.md
  plugins/core/skills/plan/SKILL.md
  plugins/core/skills/professional-honesty/SKILL.md
  plugins/core/skills/project-memory/SKILL.md
  plugins/core/skills/proof-of-work/SKILL.md
  plugins/core/skills/refactor/SKILL.md
  plugins/core/skills/review/SKILL.md
  plugins/core/skills/simplicity-principles/SKILL.md
  plugins/core/skills/solid-principles/SKILL.md
  plugins/core/skills/structural-design-principles/SKILL.md
  plugins/core/skills/test/SKILL.md
Due: none

refactor: mark 8 remaining language skills as agent-internal
  plugins/languages/c/c-data-structures/SKILL.md
  plugins/languages/c/c-systems-programming/SKILL.md
  plugins/languages/cpp/cpp-modern-features/SKILL.md
  plugins/languages/cpp/cpp-smart-pointers/SKILL.md
  plugins/languages/cpp/cpp-templates-metaprogramming/SKILL.md
  plugins/languages/csharp/csharp-async-patterns/SKILL.md
  plugins/languages/csharp/csharp-linq/SKILL.md
  plugins/languages/csharp/csharp-nullable-types/SKILL.md
Due: none

refactor: drop MCP server from blueprints plugin, use native tools
  .claude/rules/blueprints/blueprints-index.md
  .claude/rules/hashi-blueprints/blueprints-index.md
  blueprints/blueprint-system.md
  blueprints/han-memory-system.md
  packages/han/lib/commands/blueprints/index.ts
  packages/han/lib/commands/mcp/blueprints.ts
  plugins/tools/blueprints/.claude-plugin/plugin.json
  plugins/tools/blueprints/.mcp.json
  plugins/tools/blueprints/README.md
  plugins/tools/blueprints/han-plugin.yml
  plugins/tools/blueprints/hooks/blueprint-system-info.md
  plugins/tools/blueprints/hooks/ensure-blueprints.md
  plugins/tools/blueprints/server/tools.ts
  plugins/tools/blueprints/server/types.ts
  plugins/tools/blueprints/skills/blueprints-maintenance/SKILL.md
  plugins/tools/blueprints/skills/blueprints-organization/SKILL.md
  plugins/tools/blueprints/skills/blueprints-writing/SKILL.md
  plugins/tools/blueprints/skills/create-blueprint/SKILL.md
  plugins/tools/blueprints/skills/generate-blueprints/SKILL.md
Due: han-cli, Han CLI

task: create task to fix 9 failing test expectations for discipline paths
  packages/han/test/migrate.test.ts
  packages/han/test/plugin-aliases.test.ts
Due: han-cli, Han CLI

docs: add comprehensive task for fixing 9 failing test expectations
  packages/han/test/plugin-alias-integration.test.ts
Due: han-cli, Han CLI

docs: document legacy plugin name references found in codebase
  website/content/docs/plugin-development/skills.md
  website/content/docs/plugin-development/types.md
Due: website, Website

docs: update rules and docs to use new short plugin naming convention
  .claude/rules/han-commands.md
  .claude/rules/han-settings.md
  .claude/rules/language-plugins/lsp-entrypoint-pattern.md
  .claude/rules/marketplace/plugin-aliases.md
  .claude/rules/plugin-naming.md
  CLAUDE.md
Due: none

docs: update LSP entrypoint pattern to use short plugin names
  .claude/rules/language-plugins/lsp-entrypoint-pattern.md
Due: none

fix: restore marketplace.json format and update source paths
  .claude-plugin/marketplace.json
Due: none

docs: remove legacy jutsu/hashi/do prefixes from skills, commands, and prompts
  .claude/commands/create-blog-post.md
  .claude/commands/research-new-features.md
  .claude/skills/create-blog-post/SKILL.md
  .claude/skills/create-do/SKILL.md
  .claude/skills/create-hashi/SKILL.md
  .claude/skills/create-jutsu/SKILL.md
  .claude/skills/research-new-features/SKILL.md
  packages/han/lib/detect-plugins-prompt.md
Due: han-cli, Han CLI

fix: harden memory-storage and dispatch-stdin tests against parallel races
  packages/han/test/dispatch-stdin-coverage.test.ts
  packages/han/test/memory-storage.test.ts
Due: han-cli, Han CLI

fix: eliminate global state race in memory storage tests
  packages/han/lib/memory/storage.ts
  packages/han/test/memory-storage.test.ts
Due: han-cli, Han CLI

chore: remove unused cleanupGitRemote and fix missed rootPath
  packages/han/test/memory-storage.test.ts
Due: han-cli, Han CLI

feat: add session performance trend visualization to dashboard
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/PerformanceTrendChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: regenerate schema.graphql after merge to include all team platform types
  packages/browse-client/schema.graphql
Due: browse-client, Browse Client

fix: skip dispatch-coverage tests in non-TTY environments
  packages/han/test/dispatch-coverage.test.ts
Due: han-cli, Han CLI

fix: prevent dispatch subprocess hang by calling process.exit(0) after completion
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/test/dispatch-coverage.test.ts
Due: han-cli, Han CLI

fix: prevent hook explain and reference commands from hanging on open handles
  packages/han/lib/commands/hook/explain.tsx
  packages/han/lib/commands/hook/reference/must-read.ts
  packages/han/test/han.test.ts
Due: han-cli, Han CLI

feat: add archiver dependency and enhance team server security and billing
  packages/han-team-server/bun.lock
  packages/han-team-server/lib/crypto/index.ts
  packages/han-team-server/lib/graphql/schema.ts
  packages/han-team-server/lib/graphql/types/billing.ts
  packages/han-team-server/lib/graphql/types/index.ts
  packages/han-team-server/lib/security/index.ts
  packages/han-team-server/lib/security/secret-detector.ts
  packages/han-team-server/package.json
Due: none

fix: skip session-file-validation tests when SKIP_NATIVE=true
  packages/han/test/session-file-validation.test.ts
Due: han-cli, Han CLI

fix: remove SKIP_NATIVE from CI since native module is always built
  .github/workflows/validate-han.yml
  packages/han/test/session-file-validation.test.ts
Due: han-cli, Han CLI

fix: make coverage workflow resilient and codecov/patch non-blocking
  .github/workflows/coverage.yml
  codecov.yml
Due: none

docs: remove obsolete checkpoint-system blueprint
  blueprints/checkpoint-system.md
  blueprints/hook-system.md
Due: none
