Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      han-native:
        flags:
          - han-native
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-native:
    paths:
      - packages/han-native/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

# Test Analytics configuration
test_analytics:
  enabled: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

# Component management for monorepo
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-native
      name: Han Native (Rust)
      paths:
        - packages/han-native/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

fix: address reviewer feedback - WebSocket subscriptions, cache check, gRPC tests
  packages/han-rs/Cargo.lock
  packages/han-rs/crates/han-coordinator/Cargo.toml
  packages/han-rs/crates/han-coordinator/src/grpc.rs
  packages/han-rs/crates/han-coordinator/src/hooks/mod.rs
  packages/han-rs/crates/han-coordinator/src/server.rs
Due: none

feat: add buf code generation for gRPC coordinator proto
  packages/han/buf.gen.yaml
  packages/han/buf.yaml
  packages/han/bun.lock
  packages/han/lib/grpc/generated/coordinator_connect.ts
  packages/han/lib/grpc/generated/coordinator_pb.ts
  packages/han/package.json
Due: han-cli, Han CLI

feat: add ConnectRPC client factory for coordinator gRPC services
  packages/han/buf.gen.yaml
  packages/han/bun.lock
  packages/han/lib/grpc/client.ts
  packages/han/lib/grpc/generated/coordinator_connect.ts
  packages/han/package.json
Due: han-cli, Han CLI

feat: replace native.ts git/glob/hash functions with Bun builtins
  packages/han/lib/analyze/codebase-analyzer.ts
  packages/han/lib/api/sessions.ts
  packages/han/lib/bun-utils.ts
  packages/han/lib/codebase-analyzer.ts
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/commands/keep/storage.ts
  packages/han/lib/commands/worktree/discovery.ts
  packages/han/lib/commands/worktree/index.ts
  packages/han/lib/commands/worktree/prune.ts
  packages/han/lib/events/logger.ts
  packages/han/lib/graphql/types/repo.ts
  packages/han/lib/hooks/hook-cache.ts
  packages/han/lib/memory/paths.ts
  packages/han/lib/shared.ts
  packages/han/lib/shared/shared.ts
Due: han-cli, Han CLI

feat: rewrite coordinator-service.ts for Rust binary lifecycle
  packages/han/lib/services/coordinator-service.ts
Due: han-cli, Han CLI

feat: add gRPC streaming hook executor and fix dispatch imports
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/grpc/hook-executor.ts
Due: han-cli, Han CLI

test: add unit tests for CLI gRPC migration (Phase 8)
  packages/han/test/bun-utils.test.ts
  packages/han/test/coordinator-lifecycle.test.ts
  packages/han/test/data-access.test.ts
  packages/han/test/grpc-client.test.ts
  packages/han/test/hook-executor.test.ts
  packages/han/test/no-native-imports.test.ts
Due: han-cli, Han CLI

fix: wire gRPC hook executor into run.ts and dispatch.ts
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/commands/hook/run.ts
  packages/han/test/grpc-client.test.ts
Due: han-cli, Han CLI

mark unit-05-cli-grpc as completed
  .ai-dlc/backend-rearchitecture/unit-01-han-db.md
  .ai-dlc/backend-rearchitecture/unit-02-han-indexer.md
  .ai-dlc/backend-rearchitecture/unit-03-han-api.md
  .ai-dlc/backend-rearchitecture/unit-04-han-coordinator.md
  .ai-dlc/backend-rearchitecture/unit-05-cli-grpc.md
  .ai-dlc/backend-rearchitecture/unit-06-han-server.md
Due: none

mark unit-07-cleanup as in_progress
  .ai-dlc/backend-rearchitecture/unit-07-cleanup.md
Due: none

chore: clean up references to deleted packages
  .gitignore
  biome.json
  codecov.yml
  deploy/docker-compose/docker-compose.override.yml
  packages/han/bunfig.toml
  packages/han/lib/api/sessions.ts
  packages/han/lib/auth/middleware.ts
  packages/han/lib/commands/browse/index.ts
  packages/han/lib/commands/browse/server.ts
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/index.ts
  packages/han/lib/commands/coordinator/server.ts
  packages/han/lib/commands/index/index.ts
  packages/han/lib/data/interfaces.ts
  packages/han/lib/data/local/index.ts
  packages/han/lib/memory/streaming.ts
  packages/han/lib/memory/transcript-search.ts
  packages/han/lib/pricing/stats-reader.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

chore: update package.json after code deletion
  packages/han/package.json
Due: han-cli, Han CLI

chore: update CI workflows for han-rs (remove han-native)
  .github/workflows/auto-tag-release.yml
  .github/workflows/coverage.yml
  .github/workflows/release-binaries.yml
  .github/workflows/validate-han-native.yml
  .github/workflows/validate-han.yml
Due: none

chore: update distribution scripts for coordinator binary
  .github/scripts/create-npm-platform-package.sh
  packages/han/scripts/build-bundle.js
  packages/han/scripts/build-platform-packages.js
Due: han-cli, Han CLI

chore: update deploy configs from han-team-server to han-rs
  .markdownlintignore
  deploy/docker/api/Dockerfile
  deploy/docker/migrations/Dockerfile
  deploy/railway/README.md
  deploy/terraform/README.md
  deploy/terraform/modules/api/inputs.tf
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/variables.tf
Due: none

mark unit-07-cleanup as completed
  .ai-dlc/backend-rearchitecture/unit-07-cleanup.md
Due: none

test: add comprehensive behavioral tests for gRPC layer (202 tests)
  packages/han/bun.lock
  packages/han/test/coordinator-service-behavioral.test.ts
  packages/han/test/data-access-behavioral.test.ts
  packages/han/test/grpc-client-behavioral.test.ts
  packages/han/test/hook-dispatch-wiring.test.ts
  packages/han/test/hook-executor-behavioral.test.ts
  packages/han/test/hook-run-wiring.test.ts
Due: han-cli, Han CLI

test: enforce 80% coverage across all Rust crates and coordinator service
  packages/han-rs/crates/han-api/src/context.rs
  packages/han-rs/crates/han-api/src/query.rs
  packages/han-rs/crates/han-api/src/subscription.rs
  packages/han-rs/crates/han-api/src/types/config_dir.rs
  packages/han-rs/crates/han-api/src/types/dashboard.rs
  packages/han-rs/crates/han-api/src/types/enums/mod.rs
  packages/han-rs/crates/han-api/src/types/hook_execution.rs
  packages/han-rs/crates/han-api/src/types/native_task.rs
  packages/han-rs/crates/han-api/src/types/project.rs
  packages/han-rs/crates/han-api/src/types/repo.rs
  packages/han-rs/crates/han-api/src/types/settings.rs
  packages/han-rs/crates/han-coordinator/src/grpc.rs
  packages/han-rs/crates/han-coordinator/src/hooks/discovery.rs
  packages/han-rs/crates/han-coordinator/src/hooks/executor.rs
  packages/han-rs/crates/han-coordinator/src/hooks/mod.rs
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-coordinator/src/server.rs
  packages/han-rs/crates/han-coordinator/src/watcher_bridge.rs
  packages/han-rs/crates/han-server/src/auth/middleware.rs
  packages/han-rs/crates/han-server/src/config.rs
  packages/han-rs/crates/han-server/src/routes.rs
  packages/han-rs/crates/han-server/src/sync/pg_notify.rs
  packages/han/test/coordinator-service-spawn.test.ts
Due: han-cli, Han CLI

test: close coverage gap to 80%+ for all Rust crates
  packages/han-rs/crates/han-api/src/mutation.rs
  packages/han-rs/crates/han-api/src/types/memory/mod.rs
  packages/han-rs/crates/han-api/src/types/metrics/mod.rs
  packages/han-rs/crates/han-api/src/types/plugin.rs
  packages/han-rs/crates/han-api/src/types/team/mod.rs
  packages/han-rs/crates/han-server/src/auth/mod.rs
  packages/han-rs/crates/han-server/src/billing/mod.rs
  packages/han-rs/crates/han-server/src/crypto/mod.rs
  packages/han-rs/crates/han-server/src/state.rs
Due: none

fix: remove obsolete test files referencing deleted modules and add protoc to coverage CI
  .github/workflows/coverage.yml
  .github/workflows/validate-han.yml
  packages/han/test/deferred-hooks.test.ts
  packages/han/test/native.test.ts
  packages/han/test/session-file-validation.test.ts
  packages/han/test/vector-store.test.ts
Due: han-cli, Han CLI

fix: use property marker for singleton test (Bun 1.2 compat)
  packages/han/test/grpc-client-behavioral.test.ts
Due: han-cli, Han CLI

fix: relax singleton test to structural equality (Bun 1.2 compat)
  packages/han/test/grpc-client-behavioral.test.ts
Due: han-cli, Han CLI

fix: remove remaining toBe identity check on Proxy objects
  packages/han/test/grpc-client-behavioral.test.ts
Due: han-cli, Han CLI

feat: add Railway deployment config for han-server
  packages/han-rs/crates/han-server/Dockerfile
  packages/han-rs/railway.toml
Due: none

feat: audit and standardize plugin hooks across all categories
  packages/han/test/plugin-hooks-json.test.ts
  plugins/frameworks/angular/hooks/hooks.json
  plugins/frameworks/django/hooks/hooks.json
  plugins/frameworks/expo/hooks/hooks.json
  plugins/frameworks/nestjs/hooks/hooks.json
  plugins/frameworks/nextjs/hooks/hooks.json
  plugins/languages/c/hooks/hooks.json
  plugins/languages/cpp/hooks/hooks.json
  plugins/languages/csharp/hooks/hooks.json
  plugins/languages/elixir/hooks/hooks.json
  plugins/languages/erlang/hooks/hooks.json
  plugins/languages/gleam/hooks/hooks.json
  plugins/languages/java/hooks/hooks.json
  plugins/languages/kotlin/hooks/hooks.json
  plugins/languages/lua/hooks/hooks.json
  plugins/languages/objective-c/hooks/hooks.json
  plugins/languages/php/hooks/hooks.json
  plugins/languages/python/hooks/hooks.json
  plugins/languages/scala/hooks/hooks.json
  plugins/languages/swift/hooks/hooks.json
  plugins/tools/absinthe-graphql/hooks/hooks.json
  plugins/tools/apollo-graphql/hooks/hooks.json
  plugins/tools/cucumber/hooks/hooks.json
  plugins/tools/graphql/hooks/hooks.json
  plugins/tools/kubernetes/hooks/hooks.json
  plugins/validation/markdown/hooks/hooks.json
  plugins/validation/pylint/hooks/hooks.json
Due: han-cli, Han CLI

fix: add async field to HookConfig interface in test
  packages/han/test/plugin-hooks-json.test.ts
Due: han-cli, Han CLI

fix: correct doctor test for hanBinary override detection
  packages/han/test/doctor.test.ts
Due: han-cli, Han CLI

feat: add git-worktrees plugin for subagent isolation
  .claude-plugin/marketplace.json
  plugins/patterns/git-worktrees/.claude-plugin/plugin.json
  plugins/patterns/git-worktrees/README.md
  plugins/patterns/git-worktrees/han-plugin.yml
  plugins/patterns/git-worktrees/hooks/hooks.json
  plugins/patterns/git-worktrees/hooks/worktree-context.sh
  plugins/patterns/git-worktrees/skills/worktree-management/SKILL.md
Due: none

fix: release binaries — install protoc in Docker, make nix unix-only
  .github/workflows/release-binaries.yml
  packages/han-rs/crates/han-coordinator/Cargo.toml
  packages/han-rs/crates/han-coordinator/src/lock.rs
Due: none

fix: disable aws-lc-rs to fix Darwin cross-compilation linker failure
  packages/han-rs/crates/han-coordinator/Cargo.toml
Due: none

chore: update Cargo.lock after removing aws-lc-sys dependency
  packages/han-rs/Cargo.lock
Due: none

fix: flatten artifact directory structure for release packaging
  .github/workflows/release-binaries.yml
Due: none

chore: remove temporary schema backup files
  packages/browse-client/browse-client-schema-backup.graphql
  packages/browse-client/rust-schema.graphql
Due: browse-client, Browse Client

fix: bump Dockerfile Rust image to latest stable for MSRV compatibility
  packages/han-rs/crates/han-server/Dockerfile
Due: none
