Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      han-native:
        flags:
          - han-native
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-native:
    paths:
      - packages/han-native/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

# Test Analytics configuration
test_analytics:
  enabled: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

# Component management for monorepo
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-native
      name: Han Native (Rust)
      paths:
        - packages/han-native/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

feat: add Kiro CLI bridge plugin for Han hook ecosystem (#64)
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/kiro/.claude-plugin/plugin.json
  plugins/bridges/kiro/CHANGELOG.md
  plugins/bridges/kiro/README.md
  plugins/bridges/kiro/han-plugin.yml
  plugins/bridges/kiro/kiro-agent.json
  plugins/bridges/kiro/package.json
  plugins/bridges/kiro/src/cache.ts
  plugins/bridges/kiro/src/context.ts
  plugins/bridges/kiro/src/disciplines.ts
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/kiro/src/events.ts
  plugins/bridges/kiro/src/executor.ts
  plugins/bridges/kiro/src/formatter.ts
  plugins/bridges/kiro/src/index.ts
  plugins/bridges/kiro/src/matcher.ts
  plugins/bridges/kiro/src/skills.ts
  plugins/bridges/kiro/src/types.ts
  website/content/blog/han-meets-kiro.md
  website/content/docs/installation/kiro.md
Due: han-cli, website, Han CLI, Website

feat: add multi-agent setup command and config files
  .codex/config.toml
  .gemini/settings.json
  .kiro/agents/han.json
  AGENTS.md
  GEMINI.md
  opencode.json
  packages/han/lib/commands/setup/index.ts
  packages/han/lib/install.ts
  packages/han/lib/main.ts
Due: han-cli, Han CLI

fix: resolve biome lint errors in bridge plugins and gitignore dist
  .gitignore
  plugins/bridges/codex/src/context.ts
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/codex/src/executor.ts
  plugins/bridges/codex/src/index.ts
  plugins/bridges/gemini-cli/src/discovery.ts
  plugins/bridges/gemini-cli/src/executor.ts
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/kiro/src/executor.ts
  plugins/bridges/kiro/src/index.ts
Due: none

style: apply biome formatting to bridge plugin sources
  packages/han/package.json
  plugins/bridges/codex/src/cache.ts
  plugins/bridges/codex/src/disciplines.ts
  plugins/bridges/codex/src/events.ts
  plugins/bridges/codex/src/formatter.ts
  plugins/bridges/codex/src/matcher.ts
  plugins/bridges/codex/src/skills.ts
  plugins/bridges/codex/src/types.ts
  plugins/bridges/gemini-cli/src/bridge.ts
  plugins/bridges/gemini-cli/src/cache.ts
  plugins/bridges/gemini-cli/src/context.ts
  plugins/bridges/gemini-cli/src/disciplines.ts
  plugins/bridges/gemini-cli/src/events.ts
  plugins/bridges/gemini-cli/src/formatter.ts
  plugins/bridges/gemini-cli/src/matcher.ts
  plugins/bridges/gemini-cli/src/skills.ts
  plugins/bridges/gemini-cli/src/types.ts
  plugins/bridges/kiro/src/cache.ts
  plugins/bridges/kiro/src/context.ts
  plugins/bridges/kiro/src/disciplines.ts
  plugins/bridges/kiro/src/events.ts
  plugins/bridges/kiro/src/formatter.ts
  plugins/bridges/kiro/src/matcher.ts
  plugins/bridges/kiro/src/skills.ts
  plugins/bridges/kiro/src/types.ts
Due: han-cli, Han CLI

chore: commit pending han-native and orchestrator changes
  packages/han-native/index.d.ts
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han-native/src/schema.rs
  packages/han-native/src/schema.sql
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/db/index.ts
  plugins/patterns/git-storytelling/scripts/check-commits.sh
Due: han-cli, han-native, Han CLI, Han Native (Rust)

fix: forward agentId parameter in native.ts getSessionFileChanges wrapper
  packages/han-native/src/crud.rs
  packages/han/lib/native.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

style: format package.json with biome (tabs to spaces)
  packages/han/package.json
Due: han-cli, Han CLI

fix: remove PostToolUse from plugin hooks that don't use HAN_FILES
  plugins/frameworks/effect/hooks/hooks.json
  plugins/frameworks/gluestack/hooks/hooks.json
  plugins/frameworks/relay/hooks/hooks.json
  plugins/languages/crystal/hooks/hooks.json
  plugins/languages/elixir/hooks/hooks.json
  plugins/languages/gleam/hooks/hooks.json
  plugins/languages/nim/hooks/hooks.json
  plugins/languages/ruby/hooks/hooks.json
  plugins/languages/rust/hooks/hooks.json
  plugins/specialized/han-plugins/hooks/hooks.json
  plugins/tools/ansible/hooks/hooks.json
  plugins/tools/cocoapods/hooks/hooks.json
  plugins/tools/gitlab-ci/hooks/hooks.json
  plugins/tools/helm/hooks/hooks.json
  plugins/tools/syncpack/hooks/hooks.json
  plugins/tools/terraform/hooks/hooks.json
  plugins/validation/ameba/hooks/hooks.json
  plugins/validation/checkstyle/hooks/hooks.json
  plugins/validation/clippy/hooks/hooks.json
  plugins/validation/dialyzer/hooks/hooks.json
Due: none

update package json
  packages/han/package.json
Due: han-cli, Han CLI

Revert "fix: add build hook to elixir PostToolUse"
  plugins/languages/elixir/hooks/hooks.json
Due: none

feat(browse): put activity and code changes side-by-side, trim date range
  packages/browse-client/src/components/pages/DashboardPage/ActivityHeatmap.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/LineChangesChart.tsx
Due: browse-client, Browse Client

fix: add build hook to elixir PostToolUse
  plugins/languages/elixir/hooks/hooks.json
Due: none

docs: add HMR/live reload architecture analysis for browse-client
  packages/browse-client/src/components/molecules/SessionRow.tsx
  packages/browse-client/src/components/molecules/index.ts
  packages/browse-client/src/components/molecules/session-utils.ts
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
Due: browse-client, Browse Client

fix: use HTTPS coordinator URL in local browse mode
  packages/han/lib/commands/browse/index.ts
Due: han-cli, Han CLI

fix: update elixir PostToolUse test and prevent reindex truncation loop
  packages/han/lib/services/coordinator-service.ts
  packages/han/test/plugin-hooks-json.test.ts
Due: han-cli, Han CLI

refactor: improve dashboard card layout with consistent heights and style prop support
  packages/browse-client/src/components/organisms/SectionCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/ActivityHeatmap.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/LineChangesChart.tsx
  packages/han/lib/commands/browse/index.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix(han-native): query subagent usage from embedded tool_use blocks
  packages/han-native/src/crud.rs
Due: han-native, Han Native (Rust)

refactor(browse): universal SessionRow molecule and dashboard layout rebalance
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
Due: browse-client, Browse Client

fix(browse): left-align heatmap grid and fix year label overlap
  packages/browse-client/src/components/pages/DashboardPage/ActivityHeatmap.tsx
Due: browse-client, Browse Client

fix(browse): use fixed hue per model family with lightness+saturation variation
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
Due: browse-client, Browse Client

Revert "feat: always register config dir on SessionStart for multi-env indexing"
  packages/han/lib/commands/coordinator/index.ts
  plugins/core/hooks/register-config-dir.sh
Due: han-cli, Han CLI

fix: spawn indexing subprocess to avoid blocking coordinator event loop
  packages/browse-client/schema.graphql
  packages/han/lib/commands/coordinator/index.ts
  packages/han/lib/graphql/schema.ts
Due: han-cli, browse-client, Han CLI, Browse Client

refactor(browse): use hue rotation for model version color distinction
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
Due: browse-client, Browse Client

refactor(browse): derive model chart colors from family hue and version
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
Due: browse-client, Browse Client

fix(browse): increase model color lightness step to 8% for more contrast
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
Due: browse-client, Browse Client

feat: always register config dir on SessionStart for multi-env indexing
  packages/han/lib/commands/coordinator/index.ts
  plugins/core/hooks/register-config-dir.sh
Due: han-cli, Han CLI

refactor(browse): dynamically parse model display names from ID pattern
  packages/han/lib/graphql/types/activity-data.ts
Due: han-cli, Han CLI

refactor(browse): pair Hook Health with Agent Health, remove Plugin Categories
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
Due: browse-client, Browse Client

Revert "feat: add custom agent definitions and complete mise.toml toolchain"
  .claude/agents/browse-ui.md
  .claude/agents/ci-release.md
  .claude/agents/graphql-api.md
  .claude/agents/han-cli.md
  .claude/agents/han-native.md
  .claude/agents/plugin-author.md
  .claude/agents/website.md
  mise.toml
Due: none

fix(browse): add Opus 4.6 to model display name mapping
  packages/han/lib/graphql/types/activity-data.ts
Due: han-cli, Han CLI

feat: full cost analytics for per-config-dir tabs
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/lib/pricing/stats-reader.ts
Due: han-cli, browse-client, Han CLI, Browse Client

feat: per-config-dir cost tabs and fix utilization colors
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/lib/pricing/stats-reader.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: add missing imports and CostAnalysis properties in dashboard-analytics
  packages/browse-client/schema.graphql
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

refactor: use multi-config-dir stats aggregation for all dashboard data
  packages/han/lib/graphql/types/activity-data.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
  packages/han/test/dashboard-analytics.test.ts
Due: han-cli, Han CLI

feat: idempotent config dir registration with non-blocking indexing
  packages/browse-client/schema.graphql
  packages/han/lib/commands/coordinator/index.ts
  packages/han/lib/commands/coordinator/server.ts
  packages/han/lib/graphql/schema.ts
  plugins/core/hooks/register-config-dir.sh
Due: han-cli, browse-client, Han CLI, Browse Client

feat: enrich multi-agent dev configs with project conventions
  .agent/rules/han-development.md
  .kiro/agents/han.json
  AGENTS.md
  GEMINI.md
  mise.toml
Due: none

feat(browse): replace Bun.build live reload with Vite HMR
  packages/browse-client/bun.lock
  packages/browse-client/package.json
  packages/browse-client/vite.config.ts
  packages/han/lib/commands/browse/index.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix(browse): handle model IDs without date suffix in display name
  packages/han/lib/graphql/types/activity-data.ts
Due: han-cli, Han CLI

feat: per-model cost calculations with multi-config-dir support
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/CostAnalysisCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/ModelUsageChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/TokenUsageCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageActivity_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/activity-data.ts
  packages/han/lib/graphql/types/model-usage-stats.ts
  packages/han/lib/pricing/model-pricing.ts
  packages/han/lib/pricing/stats-reader.ts
Due: han-cli, browse-client, Han CLI, Browse Client

feat: scan all registered config dirs for session discovery
  packages/han/lib/api/sessions.ts
Due: han-cli, Han CLI
