Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

fix(ci): format napi-rs output before biome check
  .github/workflows/validate-han-native.yml
Due: none

fix(website): remove duplicate activity indicator from header
  website/app/components/Header.tsx
Due: website, Website

feat(plugins): add database and infrastructure service plugins
  .claude-plugin/marketplace.json
  plugins/services/aws/.claude-plugin/plugin.json
  plugins/services/aws/README.md
  plugins/services/aws/han-plugin.yml
  plugins/services/aws/skills/explore-resources/SKILL.md
  plugins/services/cloudflare/.claude-plugin/plugin.json
  plugins/services/cloudflare/README.md
  plugins/services/cloudflare/han-plugin.yml
  plugins/services/cloudflare/skills/manage-dns/SKILL.md
  plugins/services/mongodb/.claude-plugin/plugin.json
  plugins/services/mongodb/README.md
  plugins/services/mongodb/han-plugin.yml
  plugins/services/mongodb/skills/query-collection/SKILL.md
  plugins/services/mysql/.claude-plugin/plugin.json
  plugins/services/mysql/README.md
  plugins/services/mysql/han-plugin.yml
  plugins/services/mysql/skills/query-database/SKILL.md
  plugins/services/postgresql/.claude-plugin/plugin.json
  plugins/services/postgresql/README.md
  plugins/services/postgresql/han-plugin.yml
  plugins/services/postgresql/skills/explore-schema/SKILL.md
  plugins/services/postgresql/skills/query-database/SKILL.md
  plugins/services/redis/.claude-plugin/plugin.json
  plugins/services/redis/README.md
  plugins/services/redis/han-plugin.yml
  plugins/services/redis/skills/explore-keys/SKILL.md
  plugins/tools/kubernetes/.claude-plugin/plugin.json
  plugins/tools/kubernetes/han-plugin.yml
  plugins/tools/kubernetes/skills/explore-cluster/SKILL.md
  plugins/tools/terraform/skills/plan-infrastructure/SKILL.md
Due: none

feat: auto-detect reindex needs and coordinator version upgrades
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han-native/src/schema.sql
  packages/han/lib/db/index.ts
  packages/han/lib/graphql/schema.ts
  packages/han/lib/services/coordinator-service.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

fix: export orchestration and hook tracking functions via napi
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/lib.rs
Due: han-native, Han Native (Rust)

refactor: remove duplicate napi exports from crud.rs
  packages/han-native/src/crud.rs
Due: han-native, Han Native (Rust)

updates
  .claude/settings.json
  packages/han/.claude/rules/han-cli/hook-ordering.md
  packages/han/.claude/settings.json
Due: han-cli, Han CLI

style(han-native): fix Rust formatting in indexer.rs
  packages/han-native/src/indexer.rs
Due: han-native, Han Native (Rust)

fix(han-native): export clear_async_hook_queue_for_session function
  packages/han-native/src/lib.rs
Due: han-native, Han Native (Rust)

fix(browse-client): add Content-Type headers to static file server
  packages/browse-client/serve.ts
Due: browse-client, Browse Client

chore(browse-client): add .dockerignore for clean Docker builds
  packages/browse-client/.dockerignore
Due: browse-client, Browse Client

fix(browse-client): always use HTTPS coordinator URL
  packages/browse-client/Dockerfile
  packages/browse-client/src/config/urls.ts
Due: browse-client, Browse Client

fix(browse): fix CORS by reflecting request origin
  packages/han/lib/commands/browse/server.ts
Due: han-cli, Han CLI

fix(coordinator): fix CORS and remove dev proxy
  packages/browse-client/build/dev.ts
  packages/han/lib/commands/coordinator/server.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix(coordinator): add explicit CORS preflight handling
  packages/han/lib/commands/coordinator/server.ts
Due: han-cli, Han CLI

fix(coordinator): fix CORS configuration and improve error logging
  packages/han/lib/commands/coordinator/server.ts
Due: han-cli, Han CLI

fix(marketplace): restore backwards-compatible plugin aliases
  .claude-plugin/marketplace.json
  .claude/rules/marketplace/plugin-aliases.md
Due: none

feat(migrate): use marketplace.json as source of truth and auto-run on session start
  packages/han/lib/commands/browse/server.ts
  packages/han/lib/commands/hook/wrap-subagent-context.ts
  packages/han/lib/migrate.ts
  packages/han/tests/hook-run-async.test.ts
  packages/han/tests/plugin-hooks-json.test.ts
  plugins/core/hooks/hooks.json
Due: han-cli, Han CLI

fix(hooks): update plugin discovery to use marketplace.json
  .claude-plugin/marketplace.json
  packages/han/lib/db/index.ts
  packages/han/lib/graphql/schema.ts
  packages/han/lib/services/coordinator-service.ts
  packages/han/lib/validate.ts
  packages/han/lib/validation/validate.ts
  packages/han/package.json
Due: han-cli, Han CLI

chore(release): bump version to v3.8.0 [skip ci]
  packages/han/package.json
Due: han-cli, Han CLI

fix(hooks): run plugin install from git root to prevent nested config writes
  packages/han/lib/commands/hook/auto-detect.ts
Due: han-cli, Han CLI

feat: add OpenCode bridge plugin for Claude Code hook compatibility
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/opencode/.claude-plugin/plugin.json
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/han-plugin.yml
  plugins/bridges/opencode/package.json
  plugins/bridges/opencode/src/event-map.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/payload.ts
  plugins/bridges/opencode/src/runner.ts
  plugins/bridges/opencode/tsconfig.json
Due: han-cli, Han CLI

fix(plugins): fix marketplace source paths, stale alias, and missing SKILL.md names
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/core/skills/architect/SKILL.md
  plugins/core/skills/code-review/SKILL.md
  plugins/core/skills/debug/SKILL.md
  plugins/core/skills/develop/SKILL.md
  plugins/core/skills/document/SKILL.md
  plugins/core/skills/explain/SKILL.md
  plugins/core/skills/fix/SKILL.md
  plugins/core/skills/optimize/SKILL.md
  plugins/core/skills/plan/SKILL.md
  plugins/core/skills/refactor/SKILL.md
  plugins/core/skills/review/SKILL.md
  plugins/core/skills/test/SKILL.md
  plugins/frameworks/reactflow/.claude-plugin/plugin.json
  plugins/frameworks/reactflow/skills/reactflow-custom-nodes/SKILL.md
  plugins/frameworks/reactflow/skills/reactflow-fundamentals/SKILL.md
  plugins/frameworks/svelteflow/.claude-plugin/plugin.json
  plugins/frameworks/svelteflow/skills/svelteflow-custom-nodes/SKILL.md
  plugins/frameworks/svelteflow/skills/svelteflow-fundamentals/SKILL.md
  plugins/services/agent-sop/skills/create-sop/SKILL.md
  plugins/services/agent-sop/skills/update-sop/SKILL.md
  plugins/services/github/skills/create-issue/SKILL.md
  plugins/services/github/skills/create-pr/SKILL.md
  plugins/services/github/skills/review-pr/SKILL.md
  plugins/services/github/skills/search-code/SKILL.md
  plugins/services/github/skills/view-workflow/SKILL.md
  plugins/services/gitlab/skills/create-issue/SKILL.md
  plugins/services/gitlab/skills/create-mr/SKILL.md
  plugins/services/gitlab/skills/monitor-pipeline/SKILL.md
  plugins/services/gitlab/skills/review-mr/SKILL.md
  plugins/services/gitlab/skills/search-code/SKILL.md
  plugins/services/gitlab/skills/view-pipeline/SKILL.md
  plugins/services/sentry/skills/analyze-performance/SKILL.md
  plugins/services/sentry/skills/check-releases/SKILL.md
  plugins/services/sentry/skills/incident-response/SKILL.md
  plugins/services/sentry/skills/investigate-errors/SKILL.md
  plugins/services/sentry/skills/query-events/SKILL.md
  plugins/tools/blueprints/skills/create-blueprint/SKILL.md
  plugins/tools/blueprints/skills/generate-blueprints/SKILL.md
Due: han-cli, Han CLI

fix(ci): validate root marketplace and all plugins separately
  .github/workflows/claudelint.yml
Due: none

refactor: rewrite OpenCode bridge with PostToolUse-first architecture
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/src/discovery.ts
  plugins/bridges/opencode/src/event-map.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/src/formatter.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/matcher.ts
  plugins/bridges/opencode/src/payload.ts
  plugins/bridges/opencode/src/runner.ts
  plugins/bridges/opencode/src/types.ts
Due: none

feat: add OpenCode documentation and blog post announcement
  website/content/blog/han-meets-opencode.md
  website/content/docs/_nav.json
  website/content/docs/installation/index.md
  website/content/docs/installation/opencode.md
Due: website, Website

feat: add content-hash caching to OpenCode bridge
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/src/cache.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/src/index.ts
  website/content/blog/han-meets-opencode.md
  website/content/docs/installation/opencode.md
Due: website, Website

fix(browse): use JS entrypoint to fix blank dashboard on Linux
  packages/browse-client/build/build.ts
Due: browse-client, Browse Client

fix(ci): use GITHUB_TOKEN for workflow dispatch, update plugin paths, fix hook output
  .github/workflows/auto-tag-release.yml
  plugins/core/hooks/ensure-han.sh
  plugins/patterns/git-storytelling/scripts/check-commits.sh
Due: none

fix(coordinator): use imported HAN_VERSION instead of process.env for health endpoint
  packages/han/lib/commands/coordinator/server.ts
Due: han-cli, Han CLI

fix: improve npm wrapper resolution, simplify migration, remove stale MCP entry
  .github/scripts/npm-wrapper-bin.js
  packages/han/lib/migrate.ts
  packages/han/package.json
  plugins/core/.mcp.json
Due: han-cli, Han CLI

feat: add HAN_PROVIDER architecture and event logging to OpenCode bridge
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/src/events.ts
  plugins/bridges/opencode/src/executor.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/types.ts
  website/content/docs/installation/opencode.md
Due: website, Website

refactor: standardize plugin structure across marketplace
  plugins/core/agents/workflow-monitor.md
  plugins/disciplines/games/agents/game-developer.md
  plugins/disciplines/games/agents/game-tools-engineer.md
  plugins/disciplines/games/agents/technical-game-designer.md
  plugins/frameworks/reactflow/CHANGELOG.md
  plugins/frameworks/reactflow/README.md
  plugins/frameworks/svelteflow/CHANGELOG.md
  plugins/frameworks/svelteflow/README.md
  plugins/frameworks/zustand/han-plugin.yml
  plugins/patterns/bdd/han-plugin.yml
  plugins/patterns/tdd/han-plugin.yml
  plugins/services/canva/CHANGELOG.md
Due: none

feat: add skills and discipline tools to OpenCode bridge
  plugins/bridges/opencode/README.md
  plugins/bridges/opencode/src/disciplines.ts
  plugins/bridges/opencode/src/discovery.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/skills.ts
  website/content/docs/installation/opencode.md
Due: website, Website

Potential fix for pull request finding 'Unused variable, import, function or class'
  plugins/bridges/opencode/src/index.ts
Due: none

feat: close PreToolUse, SessionStart, UserPromptSubmit gaps in OpenCode bridge
  plugins/bridges/opencode/src/context.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/types.ts
Due: none

docs: update OpenCode docs with full coverage matrix and remaining gaps
  plugins/bridges/opencode/README.md
  website/content/blog/han-meets-opencode.md
  website/content/docs/installation/opencode.md
Due: website, Website

Path conditions:
  han-cli: any of: packages/han/
  han-native: any of: packages/han-native/
  website: any of: website/
  browse-client: any of: packages/browse-client/
  Han CLI: any of: packages/han/**
  Han Native (Rust): any of: packages/han-native/**
  Website: any of: website/**
  Browse Client: any of: packages/browse-client/**
