Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-native, website, browse-client, Han CLI, Han Native (Rust), Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      han-native:
        flags:
          - han-native
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-native:
    paths:
      - packages/han-native/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

# Test Analytics configuration
test_analytics:
  enabled: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

# Component management for monorepo
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-native
      name: Han Native (Rust)
      paths:
        - packages/han-native/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

feat: add Codex CLI bridge plugin for Han hook ecosystem
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/codex/.claude-plugin/plugin.json
  plugins/bridges/codex/CHANGELOG.md
  plugins/bridges/codex/README.md
  plugins/bridges/codex/han-plugin.yml
  plugins/bridges/codex/package.json
  plugins/bridges/codex/src/cache.ts
  plugins/bridges/codex/src/context.ts
  plugins/bridges/codex/src/disciplines.ts
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/codex/src/events.ts
  plugins/bridges/codex/src/executor.ts
  plugins/bridges/codex/src/formatter.ts
  plugins/bridges/codex/src/index.ts
  plugins/bridges/codex/src/matcher.ts
  plugins/bridges/codex/src/skills.ts
  plugins/bridges/codex/src/types.ts
  plugins/bridges/codex/tsconfig.json
Due: han-cli, Han CLI

feat: add Kiro CLI bridge plugin for Han hook ecosystem
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/kiro/.claude-plugin/plugin.json
  plugins/bridges/kiro/CHANGELOG.md
  plugins/bridges/kiro/README.md
  plugins/bridges/kiro/han-plugin.yml
  plugins/bridges/kiro/kiro-agent.json
  plugins/bridges/kiro/package.json
  plugins/bridges/kiro/src/cache.ts
  plugins/bridges/kiro/src/context.ts
  plugins/bridges/kiro/src/disciplines.ts
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/kiro/src/events.ts
  plugins/bridges/kiro/src/executor.ts
  plugins/bridges/kiro/src/formatter.ts
  plugins/bridges/kiro/src/index.ts
  plugins/bridges/kiro/src/matcher.ts
  plugins/bridges/kiro/src/skills.ts
  plugins/bridges/kiro/src/types.ts
  website/content/blog/han-meets-kiro.md
  website/content/docs/installation/kiro.md
Due: han-cli, website, Han CLI, Website

feat: add Gemini CLI bridge plugin for Han hook ecosystem
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/gemini-cli/.claude-plugin/plugin.json
  plugins/bridges/gemini-cli/CHANGELOG.md
  plugins/bridges/gemini-cli/GEMINI.md
  plugins/bridges/gemini-cli/README.md
  plugins/bridges/gemini-cli/gemini-extension.json
  plugins/bridges/gemini-cli/han-plugin.yml
  plugins/bridges/gemini-cli/hooks/hooks.json
  plugins/bridges/gemini-cli/package.json
  plugins/bridges/gemini-cli/src/bridge.ts
  plugins/bridges/gemini-cli/src/cache.ts
  plugins/bridges/gemini-cli/src/context.ts
  plugins/bridges/gemini-cli/src/disciplines.ts
  plugins/bridges/gemini-cli/src/discovery.ts
  plugins/bridges/gemini-cli/src/events.ts
  plugins/bridges/gemini-cli/src/executor.ts
  plugins/bridges/gemini-cli/src/formatter.ts
  plugins/bridges/gemini-cli/src/matcher.ts
  plugins/bridges/gemini-cli/src/skills.ts
  plugins/bridges/gemini-cli/src/types.ts
  plugins/bridges/gemini-cli/tsconfig.json
  website/content/docs/_nav.json
  website/content/docs/installation/gemini-cli.md
Due: han-cli, website, Han CLI, Website

fix: separate Gemini CLI hooks from Claude Code plugin validation
  plugins/bridges/gemini-cli/README.md
  plugins/bridges/gemini-cli/gemini-hooks.json
  plugins/bridges/gemini-cli/hooks/hooks.json
  plugins/bridges/gemini-cli/install.sh
  plugins/bridges/gemini-cli/package.json
  website/content/docs/_nav.json
  website/content/docs/installation/gemini-cli.md
Due: website, Website

fix: add blank lines before lists in markdown for markdownlint MD032
  website/content/blog/han-meets-kiro.md
  website/content/docs/installation/kiro.md
Due: website, Website

fix: correct Gemini CLI tool names, add contextFileName, use portable stdin
  plugins/bridges/gemini-cli/GEMINI.md
  plugins/bridges/gemini-cli/README.md
  plugins/bridges/gemini-cli/gemini-extension.json
  plugins/bridges/gemini-cli/gemini-hooks.json
  plugins/bridges/gemini-cli/src/bridge.ts
  plugins/bridges/gemini-cli/src/types.ts
  website/content/docs/installation/gemini-cli.md
Due: website, Website

feat: add split-flap board hero component with animated character display
  plugins/bridges/opencode/dist/cache.d.ts
  plugins/bridges/opencode/dist/cache.js
  plugins/bridges/opencode/dist/context.d.ts
  plugins/bridges/opencode/dist/context.js
  plugins/bridges/opencode/dist/disciplines.d.ts
  plugins/bridges/opencode/dist/disciplines.js
  plugins/bridges/opencode/dist/discovery.d.ts
  plugins/bridges/opencode/dist/discovery.js
  plugins/bridges/opencode/dist/events.d.ts
  plugins/bridges/opencode/dist/events.js
  plugins/bridges/opencode/dist/executor.d.ts
  plugins/bridges/opencode/dist/executor.js
  plugins/bridges/opencode/dist/formatter.d.ts
  plugins/bridges/opencode/dist/formatter.js
  plugins/bridges/opencode/dist/index.d.ts
  plugins/bridges/opencode/dist/index.js
  plugins/bridges/opencode/dist/matcher.d.ts
  plugins/bridges/opencode/dist/matcher.js
  plugins/bridges/opencode/dist/skills.d.ts
  plugins/bridges/opencode/dist/skills.js
  plugins/bridges/opencode/dist/types.d.ts
  plugins/bridges/opencode/dist/types.js
  website/app/components/SplitFlapBoard.tsx
  website/app/components/SplitFlapChar.tsx
  website/app/components/providers.tsx
  website/app/globals.css
  website/app/page.tsx
Due: website, Website

fix: use official Claude starburst logo and show all tile positions as letter boxes
  website/app/components/SplitFlapChar.tsx
  website/app/components/providers.tsx
Due: website, Website

fix: per-tile flip animation and add all supported providers
  website/app/components/SplitFlapBoard.tsx
  website/app/components/providers.tsx
Due: website, Website

refactor: remove provider icons from split-flap board and add Antigravity
  website/app/components/SplitFlapBoard.tsx
  website/app/components/providers.ts
  website/app/components/providers.tsx
Due: website, Website

style: move split-flap board to its own line in hero heading
  website/app/page.tsx
Due: website, Website

refactor: replace split-flap tiles with Vengence UI CSS flip animation
  website/app/components/SplitFlapBoard.tsx
  website/app/components/SplitFlapChar.tsx
  website/app/globals.css
Due: website, Website

fix: make website messaging provider-agnostic
  website/app/docs/page.tsx
  website/app/layout.tsx
  website/app/page.tsx
  website/scripts/generate-rss.ts
Due: website, Website

feat: add Antigravity IDE bridge plugin
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/antigravity/.claude-plugin/plugin.json
  plugins/bridges/antigravity/README.md
  plugins/bridges/antigravity/han-plugin.yml
  plugins/bridges/antigravity/package.json
  plugins/bridges/antigravity/src/cache.ts
  plugins/bridges/antigravity/src/context.ts
  plugins/bridges/antigravity/src/disciplines.ts
  plugins/bridges/antigravity/src/discovery.ts
  plugins/bridges/antigravity/src/events.ts
  plugins/bridges/antigravity/src/executor.ts
  plugins/bridges/antigravity/src/formatter.ts
  plugins/bridges/antigravity/src/index.ts
  plugins/bridges/antigravity/src/matcher.ts
  plugins/bridges/antigravity/src/skills.ts
  plugins/bridges/antigravity/src/sync.ts
  plugins/bridges/antigravity/src/types.ts
  website/content/docs/_nav.json
  website/content/docs/installation/antigravity.md
  website/content/docs/installation/index.md
Due: han-cli, website, Han CLI, Website

docs: document fullScanAndIndex coordinator startup flow and analyze when it runs
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han/lib/graphql/types/activity-data.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, browse-client, Han CLI, Browse Client

fix: bump data version to force automatic reindex on update
  packages/han-native/src/db.rs
Due: han-native, Han Native (Rust)

fix: exclude test temp directories from biome and git
  biome.json
  packages/han/.gitignore
Due: han-cli, Han CLI

fix: remove @defer from dashboard queries to fix loading
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
Due: browse-client, Browse Client

refactor: update tagline from "quality gates" to "ship-ready code"
  README.md
  packages/han/README.md
  website/app/layout.tsx
  website/app/page.tsx
  website/e2e/home.e2e.ts
  website/features/homepage.feature
Due: han-cli, website, Han CLI, Website

style: normalize package.json indentation to spaces
  packages/han/package.json
Due: han-cli, Han CLI

fix: add missing fields to MessageInput constructors in indexer
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/schema.rs
  packages/han-native/src/schema.sql
Due: han-native, Han Native (Rust)

style: add quotes around "Ship-Ready" in hero tagline
  website/app/page.tsx
  website/e2e/home.e2e.ts
  website/features/homepage.feature
Due: website, Website

feat: add native task CRUD operations and refactor activity/analytics types
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han/lib/db/index.ts
  packages/han/lib/graphql/types/activity-data.ts
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, han-native, Han CLI, Han Native (Rust)

feat: add self-hosted Sentry support to sentry plugin
  plugins/services/sentry/README.md
  plugins/services/sentry/han-plugin.yml
Due: none

feat: add session summary to dashboard analytics
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/pages/DashboardPage/DashboardContent.tsx
  packages/browse-client/src/components/pages/DashboardPage/SessionEffectivenessCard.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageAnalytics_query.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/index.tsx
  packages/han-native/index.d.ts
  packages/han-native/src/crud.rs
  packages/han-native/src/schema.rs
  packages/han/lib/graphql/types/dashboard-analytics.ts
Due: han-cli, han-native, browse-client, Han CLI, Han Native (Rust), Browse Client

feat: show session summaries prominently in dashboard and session list
  packages/browse-client/src/components/organisms/SessionListItem.tsx
  packages/han-native/index.d.ts
  packages/han-native/index.js
  packages/han-native/src/crud.rs
Due: han-native, browse-client, Han Native (Rust), Browse Client

chore: regenerate napi bindings
  packages/han-native/index.d.ts
  packages/han-native/index.js
  plugins/services/sentry/.mcp.json
  plugins/services/sentry/README.md
Due: han-native, Han Native (Rust)

fix: remove unused readdirSync import in codex disciplines
  plugins/bridges/codex/src/disciplines.ts
Due: none

fix(ci): use centralized native loader in deferred-hooks test
  packages/han/test/deferred-hooks.test.ts
Due: han-cli, Han CLI

chore: update lockfile after merging main
  packages/han/bun.lock
Due: han-cli, Han CLI

fix: remove unused variables and imports
  packages/han-team-server/test/teams-api.test.ts
  packages/han/lib/api/sync-receiver.ts
  packages/han/lib/auth/middleware.ts
  packages/han/lib/auth/oauth/github.ts
  packages/han/test/setup.ts
Due: han-cli, Han CLI

chore: regenerate napi bindings after merge
  packages/han-native/index.d.ts
  packages/han-native/index.js
Due: han-native, Han Native (Rust)

fix: address review concerns in gemini bridge
  plugins/bridges/gemini-cli/src/cache.ts
  plugins/bridges/gemini-cli/src/events.ts
  plugins/bridges/gemini-cli/src/executor.ts
Due: none

refactor: update tagline from "Ship-Ready" to "Releasable Code"
  website/app/layout.tsx
  website/app/page.tsx
  website/e2e/home.e2e.ts
  website/features/homepage.feature
Due: website, Website

fix: address review feedback - type safety, error logging, install docs
  plugins/bridges/codex/README.md
  plugins/bridges/codex/src/disciplines.ts
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/codex/src/index.ts
  plugins/bridges/codex/src/skills.ts
Due: none

fix: address review feedback - session ID, path validation, error logging
  plugins/bridges/kiro/src/disciplines.ts
  plugins/bridges/kiro/src/discovery.ts
  plugins/bridges/kiro/src/events.ts
  plugins/bridges/kiro/src/index.ts
  plugins/bridges/kiro/src/skills.ts
Due: none

fix: add path validation, session ID propagation, flush guard
  plugins/bridges/codex/src/events.ts
  plugins/bridges/codex/src/index.ts
Due: none

feat: add Gemini CLI bridge plugin for Han hook ecosystem (#66)
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/gemini-cli/.claude-plugin/plugin.json
  plugins/bridges/gemini-cli/CHANGELOG.md
  plugins/bridges/gemini-cli/GEMINI.md
  plugins/bridges/gemini-cli/README.md
  plugins/bridges/gemini-cli/gemini-extension.json
  plugins/bridges/gemini-cli/gemini-hooks.json
  plugins/bridges/gemini-cli/han-plugin.yml
  plugins/bridges/gemini-cli/hooks/hooks.json
  plugins/bridges/gemini-cli/install.sh
  plugins/bridges/gemini-cli/package.json
  plugins/bridges/gemini-cli/src/bridge.ts
  plugins/bridges/gemini-cli/src/cache.ts
  plugins/bridges/gemini-cli/src/context.ts
  plugins/bridges/gemini-cli/src/disciplines.ts
  plugins/bridges/gemini-cli/src/discovery.ts
  plugins/bridges/gemini-cli/src/events.ts
  plugins/bridges/gemini-cli/src/executor.ts
  plugins/bridges/gemini-cli/src/formatter.ts
  plugins/bridges/gemini-cli/src/matcher.ts
  plugins/bridges/gemini-cli/src/skills.ts
  plugins/bridges/gemini-cli/src/types.ts
  plugins/bridges/gemini-cli/tsconfig.json
  website/content/docs/_nav.json
  website/content/docs/installation/gemini-cli.md
Due: han-cli, website, Han CLI, Website

feat: add Codex CLI bridge plugin for Han hook ecosystem (#65)
  .claude-plugin/marketplace.json
  packages/han/lib/plugin-aliases.ts
  plugins/bridges/codex/.claude-plugin/plugin.json
  plugins/bridges/codex/CHANGELOG.md
  plugins/bridges/codex/README.md
  plugins/bridges/codex/han-plugin.yml
  plugins/bridges/codex/package.json
  plugins/bridges/codex/src/cache.ts
  plugins/bridges/codex/src/context.ts
  plugins/bridges/codex/src/disciplines.ts
  plugins/bridges/codex/src/discovery.ts
  plugins/bridges/codex/src/events.ts
  plugins/bridges/codex/src/executor.ts
  plugins/bridges/codex/src/formatter.ts
  plugins/bridges/codex/src/index.ts
  plugins/bridges/codex/src/matcher.ts
  plugins/bridges/codex/src/skills.ts
  plugins/bridges/codex/src/types.ts
  plugins/bridges/codex/tsconfig.json
Due: han-cli, Han CLI
