Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, han-rs, website, browse-client, Han CLI, Han Rust Crates, Website, Browse Client

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      han-cli:
        flags:
          - han-cli
        target: auto
        threshold: 1%
      website:
        flags:
          - website
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  han-rs:
    paths:
      - packages/han-rs/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true
  browse-client:
    paths:
      - packages/browse-client/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: han-cli
      name: Han CLI
      paths:
        - packages/han/**
    - component_id: han-rs
      name: Han Rust Crates
      paths:
        - packages/han-rs/**
    - component_id: website
      name: Website
      paths:
        - website/**
    - component_id: browse-client
      name: Browse Client
      paths:
        - packages/browse-client/**

fix(ci): use npm trusted publishing (OIDC) for bridge packages
  .github/workflows/publish-bridge-plugins.yml
Due: none

fix(ci): use npm trusted publishing (OIDC) for bridge packages (#102)
  .github/workflows/publish-bridge-plugins.yml
Due: none

fix(bridges): live-test fixes for opencode and gemini-cli
  plugins/bridges/gemini-cli/gemini-hooks.json
  plugins/bridges/opencode/dist/index.d.ts
  plugins/bridges/opencode/dist/index.js
  plugins/bridges/opencode/dist/types.d.ts
  plugins/bridges/opencode/src/index.ts
  plugins/bridges/opencode/src/types.ts
Due: none

docs: live-test results and current setup for all bridges
  plugins/bridges/antigravity/CHANGELOG.md
  plugins/bridges/codex/CHANGELOG.md
  plugins/bridges/gemini-cli/CHANGELOG.md
  plugins/bridges/opencode/CHANGELOG.md
  plugins/bridges/opencode/README.md
  website/content/docs/installation/gemini-cli.md
  website/content/docs/installation/kiro.md
  website/content/docs/installation/opencode.md
Due: website, Website

fix(bridge-kiro): ship a tools list in kiro-agent.json
  packages/han/lib/commands/setup/index.ts
  plugins/bridges/kiro/CHANGELOG.md
  plugins/bridges/kiro/README.md
  plugins/bridges/kiro/kiro-agent.json
Due: han-cli, Han CLI

fix(han): sanitize Windows project path slugs
  packages/han/lib/memory/paths.ts
  packages/han/lib/memory/transcript-search.ts
  packages/han/test/han-events-path.test.ts
  packages/han/test/transcript-search.test.ts
Due: han-cli, Han CLI

fix(han): match Claude Windows slug format
  packages/han/lib/memory/paths.ts
  packages/han/lib/memory/transcript-search.ts
  packages/han/test/han-events-path.test.ts
  packages/han/test/transcript-search.test.ts
Due: han-cli, Han CLI

feat(reddit): authenticated Reddit MCP server with saved-item search
  .claude-plugin/marketplace.json
  .github/workflows/publish-mcp-servers.yml
  .gitignore
  packages/mcp-server-reddit/README.md
  packages/mcp-server-reddit/package-lock.json
  packages/mcp-server-reddit/package.json
  packages/mcp-server-reddit/src/auth.ts
  packages/mcp-server-reddit/src/client.ts
  packages/mcp-server-reddit/src/format.ts
  packages/mcp-server-reddit/src/index.ts
  packages/mcp-server-reddit/src/tools.ts
  packages/mcp-server-reddit/test/auth.test.ts
  packages/mcp-server-reddit/test/client.test.ts
  packages/mcp-server-reddit/test/format.test.ts
  packages/mcp-server-reddit/tsconfig.json
  plugins/services/reddit/.claude-plugin/plugin.json
  plugins/services/reddit/.mcp.json
  plugins/services/reddit/CHANGELOG.md
  plugins/services/reddit/README.md
  plugins/services/reddit/han-plugin.yml
Due: none

test(reddit): cover token lifecycle, retry, and pagination
  packages/mcp-server-reddit/README.md
  packages/mcp-server-reddit/src/client.ts
  packages/mcp-server-reddit/src/tools.ts
  packages/mcp-server-reddit/test/client-fetch.test.ts
  packages/mcp-server-reddit/test/token.test.ts
  plugins/services/reddit/README.md
Due: none

docs(blueprints): add harness feature parity audit blueprint
  blueprints/harness-feature-parity.md
Due: none

feat(reddit)!: point plugin at hosted authenticated MCP server
  .claude-plugin/marketplace.json
  plugins/services/reddit/.claude-plugin/plugin.json
  plugins/services/reddit/.mcp.json
  plugins/services/reddit/CHANGELOG.md
  plugins/services/reddit/README.md
  plugins/services/reddit/han-plugin.yml
Due: none

fix(cli): resolve plugins through the marketplace manifest, fix dispatch
  packages/han/lib/commands/completion/completions.ts
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/commands/hook/test.tsx
  packages/han/lib/commands/mcp/exposed-tools.ts
  packages/han/lib/hook-runner.ts
  packages/han/lib/hook-test.ts
  packages/han/lib/hooks/plugin-discovery.ts
  packages/han/lib/memory/provider-discovery.ts
  packages/han/test/cli-integration.test.ts
  packages/han/test/dispatch-simple.test.ts
  packages/han/test/plugin-discovery-marketplace.test.ts
Due: han-cli, Han CLI

feat(cli): add DirectoryAdded and collapse the hook event lists
  packages/han/lib/commands/plugin/generate-hooks.ts
  packages/han/lib/hook-explain-ui.tsx
  packages/han/lib/hook-test-ui.tsx
  packages/han/lib/hooks/hook-config.ts
  packages/han/lib/hooks/index.ts
Due: han-cli, Han CLI

fix(cli): bring plugin manifest validation to the 2.1.228 schema
  .claude-plugin/marketplace.json
  packages/han/lib/commands/plugin/validate.ts
  packages/han/lib/config/config-validator.ts
  packages/han/test/config-validator-unit.test.ts
  packages/han/test/plugin-manifest-validate.test.ts
Due: han-cli, Han CLI

fix(plugins): bring every plugin under han's own integrity checks
  packages/han/lib/config/config-validator.ts
  plugins/frameworks/angular/han-plugin.yml
  plugins/frameworks/django/han-plugin.yml
  plugins/frameworks/expo/han-plugin.yml
  plugins/frameworks/nestjs/han-plugin.yml
  plugins/frameworks/nextjs/han-plugin.yml
  plugins/languages/c/han-plugin.yml
  plugins/languages/cpp/han-plugin.yml
  plugins/languages/csharp/han-plugin.yml
  plugins/languages/elixir/han-plugin.yml
  plugins/languages/java/han-plugin.yml
  plugins/languages/lua/han-plugin.yml
  plugins/languages/objective-c/han-plugin.yml
  plugins/languages/php/han-plugin.yml
  plugins/languages/python/han-plugin.yml
  plugins/patterns/bdd/han-plugin.yml
  plugins/patterns/git-worktrees/CHANGELOG.md
  plugins/patterns/tdd/han-plugin.yml
  plugins/services/canva/han-plugin.yml
  plugins/services/playwright-mcp/han-plugin.yml
  plugins/specialized/android/han-plugin.yml
  plugins/tools/absinthe-graphql/han-plugin.yml
  plugins/tools/apollo-graphql/han-plugin.yml
  plugins/tools/cucumber/han-plugin.yml
  plugins/tools/graphql-inspector/han-plugin.yml
  plugins/tools/graphql/han-plugin.yml
  plugins/tools/jest/han-plugin.yml
  plugins/tools/kubernetes/han-plugin.yml
  plugins/tools/mocha/han-plugin.yml
  plugins/tools/playwright/han-plugin.yml
  plugins/tools/pytest/han-plugin.yml
  plugins/tools/rspec/han-plugin.yml
  plugins/tools/syncpack/han-plugin.yml
  plugins/tools/vitest/han-plugin.yml
  plugins/validation/session-code-review/CHANGELOG.md
  plugins/validation/session-code-review/han-plugin.yml
  plugins/validation/session-code-review/skills/code-review/SKILL.md
Due: han-cli, Han CLI

ci: enforce han's own plugin integrity checks
  .github/workflows/validate-plugins.yml
  packages/han/lib/commands/hook/dispatch.ts
  packages/han/lib/hook-runner.ts
Due: han-cli, Han CLI

docs(blueprints): record the parity audit and close the settings gap
  blueprints/harness-feature-parity.md
  packages/han/lib/commands/plugin/validate.ts
Due: han-cli, Han CLI

fix(cli): make implemented commands reachable and dead controls live
  packages/han/lib/commands/aliases.ts
  packages/han/lib/commands/completion/completions.ts
  packages/han/lib/hook-runner.ts
  packages/han/lib/main.ts
  packages/han/test/completion.test.ts
Due: han-cli, Han CLI

docs: correct the documented CLI and harness surface
  CONTRIBUTING.md
  README.md
  website/content/docs/_nav.json
  website/content/docs/cli/hooks.md
  website/content/docs/cli/index.md
  website/content/docs/cli/other.md
  website/content/docs/cli/plugins.md
  website/content/docs/configuration/caching.md
  website/content/docs/configuration/index.md
  website/content/docs/features/checkpoints.md
  website/content/docs/features/hooks.md
  website/content/docs/features/memory.md
  website/content/docs/getting-started.md
  website/content/docs/installation/plugins.md
  website/content/docs/installation/scopes.md
  website/content/docs/integrations.md
  website/content/docs/metrics/index.md
  website/content/docs/metrics/opentelemetry.md
  website/content/docs/plugin-categories.md
  website/content/docs/plugin-development/distribution.md
  website/content/docs/plugin-development/hooks.md
  website/content/docs/plugin-development/index.md
  website/content/docs/plugin-development/skills.md
  website/content/docs/plugin-development/testing.md
Due: website, Website

fix(cli): keep the hook event catalogue out of the async module graph
  packages/han/lib/commands/hook/test.tsx
  packages/han/lib/commands/plugin/generate-hooks.ts
  packages/han/lib/hook-explain-ui.tsx
  packages/han/lib/hooks/hook-config.ts
  packages/han/lib/hooks/hook-events.ts
  packages/han/test/validate-integration.test.ts
Due: han-cli, Han CLI

feat(metrics): record and index sessions from every harness
  packages/han-rs/Cargo.lock
  packages/han-rs/crates/han-api/src/query.rs
  packages/han-rs/crates/han-api/src/types/sessions/mod.rs
  packages/han-rs/crates/han-coordinator/src/grpc.rs
  packages/han-rs/crates/han-coordinator/src/watcher_bridge.rs
  packages/han-rs/crates/han-db/src/crud/sessions.rs
  packages/han-rs/crates/han-db/src/entities/sessions.rs
  packages/han-rs/crates/han-db/src/migration.rs
  packages/han-rs/crates/han-db/src/migration/m20260812_session_harness.rs
  packages/han-rs/crates/han-db/tests/integration_test.rs
  packages/han-rs/crates/han-indexer/Cargo.toml
  packages/han-rs/crates/han-indexer/src/lib.rs
  packages/han-rs/crates/han-indexer/src/processor.rs
  packages/han-rs/crates/han-indexer/tests/bridged_harness_test.rs
  packages/han/lib/events/harness.ts
  packages/han/lib/events/logger.ts
  packages/han/lib/events/types.ts
Due: han-cli, han-rs, Han CLI, Han Rust Crates

docs: describe cross-harness metrics as they actually work
  blueprints/cross-harness-metrics.md
  website/content/docs/_nav.json
  website/content/docs/installation/antigravity.md
  website/content/docs/installation/codex.md
  website/content/docs/installation/gemini-cli.md
  website/content/docs/installation/kiro.md
  website/content/docs/installation/omp.md
  website/content/docs/installation/opencode.md
  website/content/docs/metrics/index.md
  website/features/step-definitions/fixtures.ts
Due: website, Website

feat(bridges): add an omp bridge that reports tokens and cost
  .claude-plugin/marketplace.json
  plugins/bridges/omp/.claude-plugin/plugin.json
  plugins/bridges/omp/CHANGELOG.md
  plugins/bridges/omp/README.md
  plugins/bridges/omp/han-plugin.yml
  plugins/bridges/omp/package.json
  plugins/bridges/omp/src/events.ts
  plugins/bridges/omp/src/index.ts
  plugins/bridges/omp/src/session.test.ts
  plugins/bridges/omp/src/session.ts
  plugins/bridges/omp/src/types.ts
  plugins/bridges/omp/tsconfig.json
Due: none

docs: record why omp cost comes from the session file, not an event
  blueprints/cross-harness-metrics.md
  website/content/docs/installation/omp.md
Due: website, Website

feat(browse): show which harness produced a session
  .github/workflows/validate-browse-client.yml
  packages/browse-client/package.json
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/molecules/HarnessBadge.test.tsx
  packages/browse-client/src/components/molecules/HarnessBadge.tsx
  packages/browse-client/src/components/molecules/index.ts
  packages/browse-client/src/components/organisms/SessionListItem.tsx
  packages/browse-client/src/components/organisms/__generated__/SessionListItemSubscription.graphql.ts
  packages/browse-client/src/components/organisms/__generated__/SessionListItem_session.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionDetailPage/SessionDetailContent.tsx
  packages/browse-client/src/components/pages/SessionDetailPage/SessionDetailHeader.tsx
  packages/browse-client/src/components/pages/SessionDetailPage/__generated__/SessionDetailPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionDetailPage/index.tsx
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionListPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentPaginationQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentSubscription.graphql.ts
Due: browse-client, Browse Client

fix(browse): clear the biome lint failures blocking CI
  packages/browse-client/src/components/molecules/HarnessBadge.test.tsx
  packages/browse-client/src/components/molecules/HarnessBadge.tsx
  packages/browse-client/src/components/organisms/SessionListItem.tsx
  packages/browse-client/src/components/organisms/VirtualList.tsx
  packages/browse-client/src/components/pages/DashboardPage/PerformanceTrendChart.tsx
Due: browse-client, Browse Client

feat(browse): show which harness produced a session (#110)
  .github/workflows/validate-browse-client.yml
  packages/browse-client/package.json
  packages/browse-client/schema.graphql
  packages/browse-client/src/components/molecules/HarnessBadge.test.tsx
  packages/browse-client/src/components/molecules/HarnessBadge.tsx
  packages/browse-client/src/components/molecules/index.ts
  packages/browse-client/src/components/organisms/SessionListItem.tsx
  packages/browse-client/src/components/organisms/VirtualList.tsx
  packages/browse-client/src/components/organisms/__generated__/SessionListItemSubscription.graphql.ts
  packages/browse-client/src/components/organisms/__generated__/SessionListItem_session.graphql.ts
  packages/browse-client/src/components/pages/DashboardPage/PerformanceTrendChart.tsx
  packages/browse-client/src/components/pages/DashboardPage/__generated__/DashboardPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionDetailPage/SessionDetailContent.tsx
  packages/browse-client/src/components/pages/SessionDetailPage/SessionDetailHeader.tsx
  packages/browse-client/src/components/pages/SessionDetailPage/__generated__/SessionDetailPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionDetailPage/index.tsx
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionListPageQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentPaginationQuery.graphql.ts
  packages/browse-client/src/components/pages/SessionListPage/__generated__/SessionsContentSubscription.graphql.ts
Due: browse-client, Browse Client

fix(coordinator): three defects behind the hanging dashboard
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-coordinator/src/server.rs
  packages/han/lib/commands/coordinator/health.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/hooks/slot-client.ts
  packages/han/lib/services/coordinator-service.ts
  packages/han/test/coordinator-service-spawn.test.ts
Due: han-cli, han-rs, Han CLI, Han Rust Crates

fix(coordinator): three defects behind the hanging dashboard (#111)
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-coordinator/src/server.rs
  packages/han/lib/commands/coordinator/health.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/hooks/slot-client.ts
  packages/han/lib/services/coordinator-service.ts
  packages/han/test/coordinator-service-spawn.test.ts
Due: han-cli, han-rs, Han CLI, Han Rust Crates

fix(browse): serve the dashboard from loopback and create the tables it reads
  packages/han-rs/Cargo.lock
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-db/Cargo.toml
  packages/han-rs/crates/han-db/src/migration.rs
  packages/han-rs/crates/han-db/src/migration/m20260812_aggregate_tables.rs
  packages/han-rs/crates/han-db/tests/aggregate_tables_test.rs
  packages/han-rs/crates/han-indexer/src/lib.rs
  packages/han-rs/crates/han-indexer/src/processor.rs
  packages/han/lib/commands/browse/hosted-proxy.ts
  packages/han/lib/commands/browse/index.ts
  packages/han/test/hosted-proxy.test.ts
Due: han-cli, han-rs, Han CLI, Han Rust Crates

fix(browse): serve the dashboard from loopback and create the tables it reads (#112)
  packages/han-rs/Cargo.lock
  packages/han-rs/crates/han-coordinator/src/main.rs
  packages/han-rs/crates/han-db/Cargo.toml
  packages/han-rs/crates/han-db/src/migration.rs
  packages/han-rs/crates/han-db/src/migration/m20260812_aggregate_tables.rs
  packages/han-rs/crates/han-db/tests/aggregate_tables_test.rs
  packages/han-rs/crates/han-indexer/src/lib.rs
  packages/han-rs/crates/han-indexer/src/processor.rs
  packages/han/lib/commands/browse/hosted-proxy.ts
  packages/han/lib/commands/browse/index.ts
  packages/han/test/hosted-proxy.test.ts
Due: han-cli, han-rs, Han CLI, Han Rust Crates

fix(browse): stop the hosted dashboard blaming the coordinator
  packages/browse-client/src/components/organisms/ConnectionOverlay.test.tsx
  packages/browse-client/src/components/organisms/ConnectionOverlay.tsx
  packages/browse-client/src/helpers/localNetworkAccess.test.ts
  packages/browse-client/src/helpers/localNetworkAccess.ts
Due: browse-client, Browse Client

fix(browse): stop the hosted dashboard blaming the coordinator (#113)
  packages/browse-client/src/components/organisms/ConnectionOverlay.test.tsx
  packages/browse-client/src/components/organisms/ConnectionOverlay.tsx
  packages/browse-client/src/helpers/localNetworkAccess.test.ts
  packages/browse-client/src/helpers/localNetworkAccess.ts
Due: browse-client, Browse Client

feat(reddit)!: point plugin at hosted authenticated MCP server (#108)
  .claude-plugin/marketplace.json
  plugins/services/reddit/.claude-plugin/plugin.json
  plugins/services/reddit/.mcp.json
  plugins/services/reddit/CHANGELOG.md
  plugins/services/reddit/README.md
  plugins/services/reddit/han-plugin.yml
Due: none

fix(plugins): remove Reddit from public marketplace
  .claude-plugin/marketplace.json
  .claude/commands/create-blog-post.md
  .claude/commands/create-plugin.md
  .claude/commands/research-new-features.md
  .claude/rules/mcp/tool-exposure.md
  .claude/settings.json
  .claude/skills/create-blog-post/SKILL.md
  .claude/skills/create-hashi/SKILL.md
  .claude/skills/research-new-features/SKILL.md
  blueprints/plugin-types.md
  packages/han/lib/commands/mcp/exposed-tools.ts
  packages/han/lib/plugin-aliases.ts
  plugins/core/.claude-plugin/plugin.json
  plugins/core/CHANGELOG.md
  plugins/core/hooks/prefer-mcp-tools.md
  plugins/core/skills/develop/SKILL.md
  plugins/services/reddit/.claude-plugin/plugin.json
  plugins/services/reddit/.mcp.json
  plugins/services/reddit/CHANGELOG.md
  plugins/services/reddit/README.md
  plugins/services/reddit/han-plugin.yml
Due: han-cli, Han CLI

chore(han): satisfy package lint
  packages/han/lib/commands/browse/hosted-proxy.ts
  packages/han/lib/hooks/hook-test-ui.tsx
  packages/han/lib/memory/provider-discovery.ts
  packages/han/lib/services/coordinator-service.ts
  packages/han/package.json
Due: han-cli, Han CLI
