Repository TheBushidoCollective/han: changes, and which Codecov flags are due for each by the changed paths.
All: han-cli, website

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  han-cli:
    paths:
      - packages/han/
    carryforward: true
  website:
    paths:
      - website/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

chore: add workflow_dispatch to coverage workflow
  .github/workflows/coverage.yml
Due: none

feat: comprehensive Codecov coverage for all packages
  .github/workflows/coverage.yml
  codecov.yml
Due: none

fix: remove invalid test_analytics field from codecov.yml
  codecov.yml
Due: none

refactor: use codecov-action@v5 for test results upload
  .github/workflows/coverage.yml
Due: none

feat(ai-dlc): add configurable VCS strategy with jj support (#49)
  .ai-dlc/vcs-strategy-config/unit-01-config-system.md
  .ai-dlc/vcs-strategy-config/unit-02-vcs-detection.md
  .ai-dlc/vcs-strategy-config/unit-06-jj-support.md
  .github/workflows/release-binaries.yml
  packages/han/lib/commands/worktree/discovery.ts
  packages/han/lib/commands/worktree/index.ts
  packages/han/lib/commands/worktree/list.ts
  packages/han/lib/commands/worktree/prune.ts
  packages/han/lib/native.ts
  patterns/ai-dlc/commands/construct.md
  patterns/ai-dlc/commands/done.md
  patterns/ai-dlc/commands/elaborate.md
  patterns/ai-dlc/examples/settings.yml
  patterns/ai-dlc/hats/integrator.md
  patterns/ai-dlc/lib/announcements.sh
  patterns/ai-dlc/lib/announcements.ts
  patterns/ai-dlc/lib/config.sh
  patterns/ai-dlc/lib/config.ts
  patterns/ai-dlc/lib/dag.sh
  patterns/ai-dlc/lib/elaboration.ts
  patterns/ai-dlc/lib/integrator.sh
  patterns/ai-dlc/lib/integrator.ts
  patterns/ai-dlc/lib/jj.sh
  patterns/ai-dlc/lib/jj.ts
  patterns/ai-dlc/lib/strategies.sh
  patterns/ai-dlc/lib/strategies.ts
  patterns/ai-dlc/workflows.yml
Due: han-cli

feat: multi-environment dashboard with central coordinator
  core/han-plugin.yml
  core/hooks/register-config-dir.sh
  packages/browse-client/src/components/organisms/index.ts
  packages/browse-client/src/components/templates/Sidebar.tsx
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
  packages/han-native/src/indexer.rs
  packages/han-native/src/lib.rs
  packages/han-native/src/schema.rs
  packages/han-native/src/schema.sql
  packages/han-native/src/watcher.rs
  packages/han/lib/api/sessions.ts
  packages/han/lib/commands/coordinator/index.ts
  packages/han/lib/db/index.ts
  packages/han/lib/graphql/schema.ts
  packages/han/lib/graphql/types/config-dir.ts
  packages/han/lib/graphql/types/sessions/session-type.ts
  packages/han/lib/services/coordinator-service.ts
Due: han-cli

fix: add SQLite busy_timeout to prevent database lock errors
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
Due: none

docs: add blog post announcing AI-DLC's new website
  website/content/blog/ai-dlc-2026-paper.md
Due: website

fix: restore AI-DLC methodology rules for project use
  .claude/rules/ai-dlc-methodology.md
Due: none

fix(website): handle external plugin sources in build
  website/app/plugins/[category]/[slug]/page.tsx
  website/app/search/page.tsx
  website/app/tags/page.tsx
  website/lib/plugins.ts
  website/lib/runbooks.ts
  website/lib/search.ts
Due: website

fix(ci): expand auto-fix triggers to all CI workflows
  .github/workflows/auto-fix-ci.yml
Due: none

fix(ci): skip marketplace.json validation for external sources
  .github/workflows/claudelint.yml
Due: none

feat: add React Flow plugin for node-based editors
  .claude-plugin/marketplace.json
  frameworks/reactflow/.claude-plugin/plugin.json
  frameworks/reactflow/skills/reactflow-custom-nodes/SKILL.md
  frameworks/reactflow/skills/reactflow-fundamentals/SKILL.md
Due: none

fix(core): move hooks.json to .claude-plugin directory
  core/.claude-plugin/hooks.json
Due: none

feat: add learn mode config and VCS detection to auto-detect
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/config/han-settings.ts
  website/content/blog/han-learns.md
Due: han-cli, website

feat: auto-detect and install Han plugins based on file changes
  core/.claude-plugin/hooks.json
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/commands/hook/index.ts
  website/content/blog/han-learns.md
Due: han-cli, website

docs: add mermaid flow diagrams to Han Learns blog post
  website/content/blog/han-learns.md
Due: website

feat: move learn patterns to plugin configs instead of hardcoded values
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/marker-detection.ts
  services/clickup/han-plugin.yml
  services/figma/han-plugin.yml
  services/github/han-plugin.yml
  services/gitlab/han-plugin.yml
  services/jira/han-plugin.yml
  services/linear/han-plugin.yml
  services/notion/han-plugin.yml
  services/sentry/han-plugin.yml
Due: han-cli

docs: clarify that hooks work immediately, skills/MCP need restart
  packages/han/lib/commands/hook/auto-detect.ts
  website/content/blog/han-learns.md
Due: han-cli, website

feat: output structured JSON from auto-detect for agent context
  packages/han/lib/commands/hook/auto-detect.ts
Due: han-cli

fix: use new plugin naming format (no jutsu-/hashi- prefixes)
  .claude/rules/plugin-naming.md
  packages/han/lib/commands/hook/auto-detect.ts
  website/content/blog/han-learns.md
Due: han-cli, website

fix(lint): remove non-null assertions in plugin-creator
  packages/han/lib/commands/create/plugin-creator.tsx
Due: han-cli

fix(lint): resolve all Biome lint errors
  packages/han/lib/commands/create/plugin.ts
  packages/han/lib/commands/hook/auto-detect.ts
  packages/han/lib/commands/hook/inject-subagent-context.ts
Due: han-cli

fix(lint): resolve non-null assertions in hook list
  packages/han/lib/commands/hook/list.ts
Due: han-cli

fix: add blank lines around lists and code blocks in blog post
  website/content/blog/han-learns.md
Due: website

fix: use proper Claude Code hook JSON output format
  packages/han/lib/commands/hook/auto-detect.ts
Due: han-cli

feat: add learn wildcards for service URL detection in prompts
  core/.claude-plugin/hooks.json
  packages/han/lib/commands/hook/auto-detect.ts
  website/content/blog/han-learns.md
Due: han-cli, website

refactor(hooks): extract shared plugin discovery to dedicated module
  packages/han/lib/commands/hook/explain.tsx
  packages/han/lib/commands/hook/list.ts
  packages/han/lib/commands/hook/orchestrate.ts
  packages/han/lib/hooks/hook-config.ts
  packages/han/lib/hooks/hook-test.ts
  packages/han/lib/hooks/index.ts
  packages/han/lib/hooks/plugin-discovery.ts
Due: han-cli

fix(coordinator): use HTTPS with FQDN for health checks
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/health.ts
  packages/han/lib/commands/coordinator/server.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/config/han-settings.ts
Due: han-cli

style(han-native): fix Rust formatting
  packages/han-native/src/crud.rs
  packages/han-native/src/db.rs
  packages/han-native/src/schema.rs
Due: none

fix(coordinator): use HTTPS for self-health checks
  packages/han/lib/commands/coordinator/server.ts
Due: han-cli

refactor: simplify port allocation to fixed values
  .claude/rules/browse/verification.md
  packages/browse-client/src/components/organisms/EnvironmentSwitcher.tsx
  packages/browse-client/src/config/discovery.ts
  packages/browse-client/src/config/environments.ts
  packages/browse-client/src/config/port.ts
  packages/browse-client/src/config/urls.ts
  packages/han/lib/commands/coordinator/daemon.ts
  packages/han/lib/commands/coordinator/types.ts
  packages/han/lib/config/port-allocation.ts
  packages/han/test/port-allocation.test.ts
Due: han-cli

fix(lint): use Number.isNaN instead of isNaN
  packages/browse-client/src/config/port.ts
Due: none

fix(bun): skip bun test in Playwright-based projects
  plugins/tools/bun/han-plugin.yml
  plugins/tools/bun/scripts/test.sh
Due: none

chore: enable ai-dlc plugin
  .claude/settings.json
Due: none

refactor(plugin-install): use claude CLI and project scope
  packages/han/lib/commands/plugin/install.ts
  packages/han/lib/install.ts
  packages/han/lib/plugin-install.ts
  packages/han/lib/plugins/index.ts
  packages/han/lib/plugins/plugin-install.ts
  packages/han/lib/scope-selector.tsx
  packages/han/lib/shared.ts
  packages/han/lib/shared/shared.ts
Due: han-cli
